
<div class="mobileHide">
  <div style="background-color:#00283F;height:400px;">
  <div class="container"><br><br>
  
 
    <h1 style="color:white;font-size:50px;"><strong>© Wancademy 2020</strong></h1>
    <h1 style="color:white;font-size:25px;font-weight:400"><a style="color:white;text-decoration:none;" href="https://rb.gy/n7nv8r" target="_blank">Terms and Conditions & Privacy Policy</a></h1>
    <hr  style="background:white;"><br>
    <div class="row">
      
      <div class="col" style="color:white;">
        <h3 style="color:white;">Getting Started:</h3>
        <h5><a href="/register" style="color:white;text-decoration:none;">Register</a></h5>
        <h5><a href="/login" style="color:white;text-decoration:none;">Login</a></h5>
        <h5><a href="/courses" style="color:white;text-decoration:none;">Courses</a></h5>
      </div>
       <div class="col" style="color:white;">
        <h3 style="color:white;">Resources:</h3>
        <h5><a href="/aboutus" style="color:white;text-decoration:none;">About Us</a></h5>
        <h5><a style="color:white;text-decoration:none;" target="_blank" href="mailto:wancademy@gmail.com">Email Us</a></h5>
        <h5><a style="color:white;text-decoration:none;" target="_blank" href="/donate">Donate</a></h5>
        
      </div>
      <div class="col" style="color:white;">
        <h3 style="color:white;">Features:</h3>
        <h5><a href="/help" style="color:white;text-decoration:none;">Help Center</a></h5>
        <h5><a href="/plannedUpdates" style="color:white;text-decoration:none;">Planned Updates</a></h5>
        
        
      </div>
      
    </div>
  </div>
</div>
</div> 

<div class="mobileShow">

  <div style="background-color:#00283F;height:400px;">
    <div class="container">
    <div ><br><br>
     <h1 style="color:white;"><strong>© Wancademy 2020</strong></h1>
     <br>
  <i style="color:white;font-size:55px;" class="fab fa-youtube"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i style="color:white;font-size:55px;" class="fab fa-instagram"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i style="color:white;font-size:55px;" class="fab fa-facebook-square"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i style="color:white;font-size:55px;" class="fab fa-twitter-square"></i>
    
    <br><br><br>
    <a href="/register" class="button3-md">Get Started</a>
    </div>
</div>
  </div>

</div>
  
