
<div class="mobileHide">
  <div style="background-color:#00283F;height:400px;">
  <div class="container"><br><br>
  
 
    <h1 style="color:white;font-size:50px;"><strong>© Wancademy 2019</strong></h1>
    <h1 style="color:white;font-size:30px;font-weight:400">Privacy Policy and Terms of Conditions</h1>
    <hr  style="background:white;"><br>
    <div class="row">
      
      <div class="col" style="color:white;">
        <h3 style="color:white;">Getting Started:</h3>
        <h5><a href="/register" style="color:white;text-decoration:none;">Sign Up</a></h5>
        <h5><a href="/getstarted/educators" style="color:white;text-decoration:none;">Educators</a></h5>
        <h5><a href="/courses" style="color:white;text-decoration:none;">Courses</a></h5>
      </div>
       <div class="col" style="color:white;">
        <h3 style="color:white;">Resources:</h3>
        <h5><a href="/press/all" style="color:white;text-decoration:none;font-weight:100;">Press Room</a></h5>
        <h5><a href="/aboutus" style="color:white;text-decoration:none;font-weight:100;">About Us</a></h5>
        <h5><a href="/contributors" style="color:white;text-decoration:none;">Contributors</a></h5>
      </div>
      <div class="col" style="color:white;">
        <h3 style="color:white;">Features:</h3>
        <h5><a href="/premium" style="color:white;text-decoration:none;">Premium</a></h5>
        <h5><a href="/forums" style="color:white;text-decoration:none;">Forums</a></h5>
        <h5><a href="/help" style="color:white;text-decoration:none;">Help Center</a></h5>
        
      </div>
      
    </div>
  </div>
</div>
</div> 

<div class="mobileShow">

  <div style="background-color:#00283F;height:400px;">
    <div class="container">
    <div ><br><br>
     <h1 style="color:white;"><strong>© Wancademy 2019</strong></h1>
     <br>
  <i style="color:white;font-size:55px;" class="fab fa-youtube"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i style="color:white;font-size:55px;" class="fab fa-instagram"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i style="color:white;font-size:55px;" class="fab fa-facebook-square"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i style="color:white;font-size:55px;" class="fab fa-twitter-square"></i>
    
    <br><br><br>
    <a href="/register" class="button3-md">Get Started</a>
    </div>
</div>
  </div>

</div>
  
