<!--THIS IS THE NEW HEADER AS OF MARCH 11 2019-->

<!DOCTYPE html>
<html>
    <head>
      
        <!--Title-->  
        <title>Wancademy | Reinvent The World</title>
    
        <!-- Required meta tags -->
        <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google" content="notranslate">
       
        <!--Fonts-->
        <link href="https://fonts.googleapis.com/css?family=Roboto:900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:500" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.1/ace.js"></script>
        <!--Font-awesome-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    
        <!--FAVICON-->
        <link rel="shortcut icon" href="https://i.imgur.com/hyTumzB.png"  type="image/x-icon" />
        
        <!--Css Stylesheet-->
        <link rel="stylesheet" href="/stylesheets/app.css">
        <link href="/scripts/ajax.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
            
    </head>
    

<body>

<nav class="fixed-top navbar navbar-expand-lg navbar-light" style="background:white;height:65px;">
  <a class="py-0 navbar-brand" href="/" style="font-size:44px;color:#0197FF;font-family: 'Roboto', sans-serif;"><img src="https://image.flaticon.com/icons/svg/1055/1055646.svg" style="margin-bottom:5px; height:52px;width:52px;font-weight:900;"><strong> Wan</span><span style="color:#2F2F2F;">cademy</span></strong></a>
  <button class="py-0 navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span  class="py-0"><i style="color:white;" class="fas fa-bars"></i></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="py-0 nav-item active">
        <a style="display:none;" class="nav-link" href="/"> </a>
      </li>
      <li class="py-0 nav-item">
        <a  style="display:none;" class="nav-link" href="/login"></a>
      </li>
      <li class="py-0 nav-item">
        <a  style="display:none;" class="nav-link" href="/register"> </a>
      </li>
    </ul>
    <span class="navbar-text">
      <% if(!currentUser){ %> 
      
       <ul  style="display: inline-block;" class="nav navbar-nav flex-row justify-content-between ml-auto">

                <li class="dropdown order-1">
                    <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Login </span> <span class="caret"></button>
                      
                       <form  action="/login" method="POST" style="padding:40px;" class="dropdown-menu dropdown-menu-right mt-2 form" role="form">
                            <div class="form-group">
                                <input name="username" type="username" placeholder="Username" style="width:270px;padding:20px;" class="form-control form-control-sm" type="text" required="">
                            </div>
                            <div class="form-group">
                                <input name="password" type="password" id="passwordInput" style="width:270px;padding:20px;" placeholder="Password" class="form-control form-control-sm" type="text" required="">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block">Login</button>
                            </div>
                            <div class="form-group text-center">
                                <small><a href="/forgot" style="color:#0097FF;" data-toggle="modal" data-target="#modalPassword"><a href="/forgot" style="font-size: 15px;color:#0097FF;text-decoration:none;">Forgot password?</a></a></small>
                            </div>
                        </form>
                </li>
            </ul>
            
      <button style="display: inline-block;" type="button" class="btn btn-primary"><a href="/register" style="color:white;font-size:16px;padding-top:5px;">Register</a></button>
      <% } else { %> 
        <% if(currentUser && currentUser.isAdmin) { %>
          <button type="button" class="btn btn-danger"><a href="/admin" style="color:white;text-decoration:none;">Admin Access</a></button>
          <button type="button" class="btn btn-primary"><a href="/logout" style="color:white;text-decoration:none;"><i class="fas fa-sign-out-alt"></i> Logout</a></button>
        <% } else { %>
        <div class="row">
        
          <button type="button" class="btn btn-info btn-sm"><a href="/help" style="color:white;text-decoration:none;padding:10px;font-size:16.4px;"><i class="fas fa-hands-helping"></i> Help Center</a></button>
            &nbsp;&nbsp;
            <div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Logged In as <%= currentUser.username %>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="/users/friends/<%= currentUser._id %>"><i class="fas fa-user-alt"></i> My Profile</a>
    <a class="dropdown-item" href="/explore"><i class="fas fa-globe-asia"></i> Explore</a>
    <a class="dropdown-item" href="/"><i class="far fa-caret-square-left"></i> To Dashboard</a>
    <a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt"></i> Logout </a>
  </div>
</div>


</div>
        <% } %>
      <% } %>
    </span>
  </div>
</nav>





    </body>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

<style>
body{
  zoom: 110%;
}
</style>