<% include ./partials/header %>

<div class="jumbotron" style="height:350px;background:#20BDFF">
    <div class="container" style="text-align:center;">
        <br><br>
        <h1 style="font-weight:700;font-size:96px;color:white;">About Us</h1>
        <br>
        <a type="button" class="btn btn-primary btn-lg" href="mailto:wancademy@gmail.com">Email Wancademy</a>
        <a type="button" class="btn btn-success btn-lg" href="https://docs.google.com/forms/d/e/1FAIpQLSd0ghPgun7IQdOhLUTfFKWujaWhi4GtR0GzF69ONuLEXPYdFQ/viewform">Feedback</a>
    </div>
</div>

<div class="container" style="text-align: center;padding-right:150px;padding-left:150px;">
    <br>
    <h1 style="font-weight:700;font-size:50px;">Our Mission:</h1>
    <p style="font-weight:200;font-size:22px;">Wancademy is a free website created by Tommy Wan in 2022, which provides students a personalized learning style to fit their needs. What sets us apart, is our attention to our students, with one:one help, student evaluations, student goal setting, fun and engaging projects, and much more. Wancademy currently provides courses from HTML, CSS, Javascript, Animations, Design, and plans to release new courses every six months.</p>
   
    <br>
    <a target="_blank" href="https://forms.gle/fFzebLoWSKRwzrgi8" class="btn btn-info btn-lg">Request a Course</a>
    
    <br>
    <hr>
    <br>
    
    <h1 style="font-weight:700;font-size:50px;">The Story:</h1>
    <p style="font-weight:200;font-size:22px;">Founded by Tommy Wan, the young teen had ambitious goals to spread his love of programming and creating thought web applications. Wanting to provide a free service to virtually anyone in the world with a simplistic computer, he dedicated his summers, breaks, nights, and days on developing and creating Wancademy. Tommy is currently in High School.</p>
    
    <br>
    <hr>
    <br>

    <h1 style="font-weight:700;font-size:50px;">Your Intructors:</h1>
    <br><br>
    <div class="row">
    <div class="col-md-4">
    <img  src="https://i.imgur.com/lccYRBf.png" height="220px;" width="230px;">
    </div>

    <div class="col-md-8" style="text-align: left;">
        <h1>Tommy Wan</h1>
        <br>
        <p style="font-weight:200;font-size:17px;">Founder and Lead Programmer for Wancademy, Tommy is an avid saxophonist, pianist, aviation geek, programming enthusiast, and a life long learner. Tommy strives to provide the best quality educational videos, and is head of student relations, making sure everyone is learning at their best capacity! You can email Tommy at <a href="mailto:TWCUBING@GMAIL.COM"><strong>twcubing@gmail.com</strong></a></p>
    </div>
</div>
<br>
<em>More instructors/educators are on their way! We are currently in the proccess of choosing, and you can apply <a href="http://wancademy.com/getstarted/educators">here</a></em>

<br><br>
<hr>


   
    


    
    
    <h2 style="font-size:20px;font-weight:200;"><em>Wancademy is 100% Free. There are no limitations, so we rely on our dedicated and generous users for funding to keep the site running. Please Consider Donating!</em></h2>
    <br>
    <a type="button" class="btn btn-primary btn-lg" href="http://wancademy.com/donate">Donate</a>
</div>

<br><br>


<% include ./partials/footer %> 