<% include ./partials/header %>

<div class="jumbotron" style="height:350px;background: #5433FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #A5FECB, #20BDFF, #5433FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #A5FECB, #20BDFF, #5433FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">
    <div class="container" style="text-align:center;">
        <br>
        <h1 style="font-weight:200;font-size:96px;color:white;">About Us</h1>
        <br>
        <button type="button" class="btn btn-primary btn-lg">Contact Us</button>
    </div>
</div>

<br><br>


<% include ./partials/footer %> 