<% include ./partials/header %>
<br><br><br>
<div class="container">
    <br>
    <h1 style="font-weight:200;font-size:40px">Your educator approval request is submitted to the admins! You will recieve a email in 24 hours or less from Wancademy.</h1>
    <br>
    <a href="/campgrounds">To dashboard</a>
</div>



