<% include ./partials/header %>

<div class="container">
    <br><br> <br><br><br>
    <h1 style="font-size:60px;color:black;font-weight:900;">Community Guidelines</h1>
    <h1 style="font-size:20px;color:black;" >We have created this page to help you get started</h1>
    <br>
    <h1>Rules:</h1>
    <h1 style="font-size:20px;line-height:35px;">
      <strong style="font-weight:900;">Maintain a honest dialouge:</strong> When conversing, do not lie. Be open-minded to people and be honest
      <br><br>
      <strong style="font-weight:900;">Commit to learning:</strong> Communites is a safe place to talk and learn. Any traces of cyberbullying or wrong doing will not be tolerated.
      <br><br>
      <strong style="font-weight:900;">Trust people:</strong> At wancademy, we highly advise one to trust everyone that they are doing the best they can to help answer your questions
      <br><br>
      <strong style="font-weight:900;">Challange the idea, not the person:</strong> Minimize criticism to the nicest form. If their idea is incorrect, kindly ask them to update.
      <br><br>
      <strong style="font-weight:900;">No spam or troll:</strong> At wancademy, we are providing quality content at a free price. To keep this nature, do not spam or troll. 
      <br><br>
</h1>

<h2>If any of these rules are broken and spotted by a fellow student or admin, your reputation points will be dropped. More flagged posts broken will result in a temporary ban.</h2>
<br><br>


<h1>Get started writing your first post!</h1>
<br>
<a href="/classes" type="button" class="button7-md">Back to communities</a>
<br><br><br><br><br><br><br>

</div>
<% include ./partials/footer %>