<% include ./partials/header %> 

<div class="jumbotron" style="background: #56CCF2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
height:400px;">
    <div class="container">
        <br><br><br>
        <h1 style="color:white;font-size:90px;"><strong>Contributor Survey</strong></h1>
        
        <h1 style="color:white;font-size:30px;font-weight:100;">Help us grow our website with this survey.</h1>
        <br>
    </div>
</div>


<br><br>
<div class="container">


  
    
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdChGWMmf8WxE5znIXVUCdKVlS-JZhMHDhF0lrFVVtSZ8tlPA/viewform?embedded=true" width="1060" height="1300" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    
    
</div>
<br><br><br><br><br><br><br><br><br>

<% include ./partials/footer %> 