<% include ./partials/header %> 

<div class="jumbotron" style="height:350px;background: #1488CC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

">
    <div class="container" style="text-align:center;">
        <br>
        <h1 style="font-weight:200;font-size:96px;color:white;">Contributors</h1>
        <br>
        <button type="button" class="btn btn-primary btn-lg">Help Contribute</button>
    </div>
</div>

<div class="container">
    <h3 style="font-weight:200;font-size:20px;">[Our site has just launched! No contributors are here, but you can help! Look above for the button]</h3>
</div>
<br><br>

<% include ./partials/footer %> 