<% include ./partials/header %> 


<br><br><br><br><br><br><br><br>

<div class="container" style="text-align:center;">
        <h1 style="color:black;font-size:100px;">Are You Sure?</h1>
        <h5 style="color:black;font-size:30px;font-weight:100;">Your acoount cannot be recovered after being deleted</h5>
        <br>
        <form style="display: inline-block;" action="/user/<%= currentUser._id %>?_method=DELETE" method="POST">
           <button class="btn btn-danger btn-large">Delete my Profile</button>
        </form>
        
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<% include ./partials/footer %> 