<% include ./partials/header %> 


<br><br><br><br><br><br><br><br><br><br><br><br><br>

<div class="container" style="text-align:center;">
        <h5 style="color:black;font-size:50px;font-weight:600;">Your profile has been deleted</h5>
        <br>
        
           <a href="/" class="btn btn-primary btn-large">Back to Home Page</a>
  
        
</div>

<br><br><br><br><br><br><br><br><br><br><br><br>
<% include ./partials/footer %> 