<% include ./partials/header %> 
<style>
body{
overflow: hidden;
}
</style>

<div class="jumbotron" style="background: #1598FF;

height:1000px;">
    <div class="container">
        <br><br><br> <br><br>
        <h1 style="color:white;font-size:90px;"><strong>Donate</strong></h1>
        
        <h1 style="color:white;font-size:25px;font-weight:100;">Donations helps us cover our costs and create new courses.</h1>
        <br>
        <a class="btn btn-primary btn-lg" href="/paypal">Donate with Paypal <i class="fab fa-paypal"></i></a>
    </div>
</div>

<br><br>
<div class="container">
    <h3>[Paypal and credit card to be done]</h3>
</div>
<br><br><br><br><br><br><br><br><br>

<% include ./partials/footer %> 