<% include ./partials/header %> 

<div class="jumbotron" style="background: #396afc;  /* fallback for old browsers */background: -webkit-linear-gradient(to right, #2948ff, #396afc);  /* Chrome 10-25, Safari 5.1-6 */background: linear-gradient(to right, #2948ff, #396afc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */height:380px;">
    <br><br><br>
    <h1 style="font-size:70px;color:white;font-weight:900;text-align:center;">How Do I Use My Dashboard?</h1>
    <br><br>
    <div style="text-align:center;">
    <a class="button3-md" href="/campgrounds"><i class="far fa-hand-point-left"></i> Back to Dashboard</a>
    </div>
</div>

<div class="container">
    <h1 style="color:black;font-size:35px;">Welcome to your dashboard!</h1>
    <h1 style="color:black;font-size:25px;">There are many features to be discovered, so let's walk through the most important ones.</h1>
    <br>
    <img src="https://i.imgur.com/BMw8Kxi.png" style="width:1090px;height:55px;">
    <h1 style="color:black;font-size:28px;font-weight:100;line-height:1.4;">^ These are the links under your dashbaord. The profile button leads you to your profile. The messages take you to your messaging board. The forums take you to the questions and help center. Communites take you to all the communities. Flashcards take you too the flashcard hub. The calculator button takes you to the calculator. Finally, the to-do list takes you to a fully working to-do list.</h1>
    <br><hr>
    <img src="https://i.imgur.com/LOGzXl0.png" style="width:1140px;height:200px;">
    <h1 style="color:black;font-size:28px;font-weight:100;">^ These are <strong>"quick links"</strong>. You can use these buttons to quickly navigate the site. <br><br>Creating courses and their instructions can be found <strong>here.</strong> <br><br>Community guidelines can be found <strong>here.</strong> <br><br>Whenever clicking on the answer questions quick link, you will be taken to the <strong>forums.</strong> There, you can help answer questions! <br><br>On the profile button, you can view your <strong>profile,</strong> students, and more.<br><br>Lastly, the courses buttons take you to all <strong>avaliable courses</strong> where you can learn to!</h1>
    <hr>
    <img src="https://i.imgur.com/acq73T0.png" style="height:300px;width:380px;">
    <img src="https://i.imgur.com/dBtlGEg.png" style="height:315px;width:340px;">
    <h1 style="color:black;font-size:28px;font-weight:100;">^ These two panels show the courses you created, and your reputation status.</h1>
    <br>
    <h1 style="color:black;font-size:28px;font-weight:100;">The courses created panel is a counter to show you how many courses you have created. You can create courses <strong>here</strong></h1>
    <br>
    <h1 style="color:black;font-size:28px;font-weight:100;">The reputation of status is factored on how well you answer questions on the forums, courses created, and account age. The more points you have, your answers, courses, will be featured more frequently.</h1>
<br><hr>
<img src="https://i.imgur.com/RehwVcP.png" style="height:300px;width:380px;">
    <img src="https://i.imgur.com/XA9SqVn.png" style="height:295px;width:380px;">
    <h1 style="color:black;font-size:28px;font-weight:100;">^ These two panels show your messages and the questions you have answered</h1>
    <br>
    <h1 style="color:black;font-size:28px;font-weight:100;">The messages panel display the messages you have that are unread. Click to find your messaging board.</h1>
    <br>
    <h1 style="color:black;font-size:28px;font-weight:100;">The question asnwered pannel displays the number of questions you have answered and the replies and feedbacks of the questions.</h1>
    <br><br><hr>
    <h1 style="color:black;font-size:28px;font-weight:100;">That's it! There are so many more features, but this page covers most of it.</h1>
    <br><br>
    <a class="button4-md" href="/campgrounds">Back to dashboard</a>


</div>

<br><br><br><br>
<% include ./partials/footer %> 