<% include ./partials/header %>
 
<style>
    body{
      overflow: hidden;
    }
    
</style>

<div class="container">
    <br><br><br><br><br>
    <h1 style="font-size:200px;font-weight:900;text-align:center;"><span style="color:red;">4</span>0<span style="color:red;">4</span></h1>
<h1 style="font-size:50px;font-weight:300;text-align:center;">Something Occured or Page is Unavalible</h1>
<div style="text-align:center">
  <br><br>
  <a href="/" class="button5-md" style="text-decoration:none;"><i class="fas fa-arrow-left"></i> Back </a>
  &nbsp;
  <a href="/" class="button5-md" style="text-decoration:none;"><i class="fas fa-edit"></i> Contact Support </a>
</div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<% include ./partials/footer %>