<% include ./partials/header %>

<div class="container">
    <br> <br> <br><br><br><br>
     <div class="container">
     <% if(error && error.length > 0) { %>
       <div class="alert alert-danger"><p><%=error %></p></div>
     <% } %>
     
     <% if(success && success.length > 0) { %>
       <div class="alert alert-success"><p><%= success %></p></div>
     <% } %>
  </div>
 
<form action="/forgot" method="POST" style="text-align:center;">
    <h1 style="font-size:55px;font-weight:100;"><strong>Forgot <span style="color:#00AAFF">Password?</span></strong></h1>
    <br>
    <input type="email" name="email" placeholder="Your Email" required>
    <br><br><br>
    <button  class="btn btn-primary">Reset Password</button>
</form>

</div>
<br><br><br><br><br><br><br>

<% include ./partials/footer %>