<% include ./partials/header %>

<div class="container">
    <br><br> <br><br>
    <h1 style="font-size:60px;color:black;">Welcome to <span style="color:#00B2FF;">Wancademy Forums</span>!</h1>
    <h1 style="font-size:20px;color:black;" >We have created this page to help you get started</h1>
    <br>
    <h1>Asking Questions:</h1>
    <h1 style="font-size:20px;line-height:35px;">
        Be specific: If you ask a vague question, you’ll get a vague answer. But if you give us details and context, we can provide a useful, relevant answer.
        <br><br>
        Make it relevant to others: We like to help as many people at a time as we can. Make it clear how your question is relevant to more people than just you, and more of us will be interested in your question and willing to look into it.
        <br><br>
        Keep an open mind: The answer to your question may not always be the one you wanted, but that doesn’t mean it is wrong. A conclusive answer isn’t always possible. When in doubt, ask people to cite their sources, or to explain how/where they learned something. Even if we don’t agree with you, or tell you exactly what you wanted to hear, remember: we’re just trying to help.
        <br><br>
        Search, and research: Have you thoroughly searched for an answer before asking your question? Sharing your research helps everyone. Tell us what you found (on this site or elsewhere) and why it didn’t meet your needs. This demonstrates that you’ve taken the time to try to help yourself, it saves us from reiterating obvious answers, and above all, it helps you get a more specific and relevant answer!
</h1>
<br><br>


<h1>Get started writing your first post!</h1>
<a href="#" type="button" class="button-green">Create a post</a>
<br><br><br><br><br><br><br><br><br><br>

</div>