<% include ./partials/header %>

<div class="jumbotron" style="height:350px;background:#9E8AFC">
    <div class="container" style="text-align:center;">
        <br><br>
        <h1 style="font-weight:700;font-size:96px;color:white;">Help Center</h1>
        <br>
        <a type="button" class="btn btn-primary btn-lg" target="_blank"  href="mailto:wancademy@gmail.com">Contact Us</a>
    </div>
</div>

<div class="container" style="text-align: center;padding-right:150px;padding-left:150px;">
    <br>
    <h1 style="font-weight:700;font-size:50px;">We are here to help!</h1>
    <p style="font-weight:200;font-size:22px;">Wancademy has a pledge to reply to our friends (you!) within 24 hours, and usually much less. Send in your questions (regarding courses, one on one help, or using our site), complains, compliments, and any other reasons. We have also included useful links and contact information. Here's to personalized learning free of charge!</p>
   
    <br>
    <a target="_blank" href="https://forms.gle/fFzebLoWSKRwzrgi8" class="btn btn-info">Request a Course</a>
    <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSd0ghPgun7IQdOhLUTfFKWujaWhi4GtR0GzF69ONuLEXPYdFQ/viewform" class="btn btn-info">General Feedback</a>
    
    <br><br>
    <hr>
    <br>
    
    <h1 style="font-weight:700;font-size:50px;">Contact Information</h1>
    <p style="font-weight:200;font-size:22px;">Email: Wancademy@gmail.com</p>
    <p style="font-weight:200;font-size:22px;">Personal Email: TWCubing@gmail.com</p>
    <p style="font-weight:200;font-size:22px;">Text Support: <em>In the works!</em></p>

</div>

<br><br>
</div>



<% include ./partials/footer %> 