
<% include ./partials/header %>



<link href="https://fonts.googleapis.com/css?family=Baloo+Tamma" rel="stylesheet">
<style>
    .jumbotron{
       background:#00283F;

        height:335px;
        width:100%;
        -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  backg
  round-size: cover;
    }
 
    
    

</style>
<br><br><br><br><br>
<div class="container">
<div class="jumbotron">
  <div style="text-align:center">
     <h1 style="color:white;font-weight: 500;font-size:70px;">
        <strong>Help Center</strong>
    </h1>
    <br>

    <input style="margin:0 auto;width:65%;text-align:left" placeholder=" Search for a question">

	
</div>
</div>
	    

	</div>


<br>


<div class="container">
 
</div>
<br><br><br><br><br><br><br><br><br><br><br><br>


</div>
<% include ./partials/footer %>