<!--NEW LANDING PAGE AS OF MARCH 11 2019-->
<% include ./partials/header %> <!-- HEADER PARTIALS -->
<br><br><br>
<style>
    body{
        font-family: 'Roboto', sans-serif;
        background:white;
    }
    .box:hover{
   transform: scale(1.03); 
   transition: transform 0.6s;
    }

    .box{
     
       transition: transform 1s;
    }
    
    .button-hover:hover{
       transform: scale(1.01); 
       transition: transform 0.6s;
    }
    
    .button-hover{
     
       transition: transform 1s;
    }
</style>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-5">
            <br><br><br><br>
            <h1 style="font-size:89px;"><strong>Reinvent the World</strong></h1>
            <hr>
            <p style="font-size:26px;font-weight:100;">Learn to code by creating your own company, game, or app. 100% Free.</p>
            <br>
            <a href="/register" class="btn btn-primary btn-lg">Get Started Now</a>
        </div>
        <div class="col-7">
            <br><br>
            <img src="https://i.imgur.com/MArAFK2.png" style="height:550px;width:700px;">
        </div>
    </div>
    <br>
    <hr>
    <br><br>
      <div class="row">
            <div class="col" style="text-align:center;color:black;">
              <img src="https://image.flaticon.com/icons/svg/1243/1243420.svg" style="height:210px;width:210px;">
              <br><br>
              <h1 style="font-size:33px;font-weight:700;">Anywhere, Any Time</h1>
              
              <h1 style="font-size:20px;font-weight:100;line-height:25px;">Access your courses, read your articles, or create programming projects anywhere!</h1>
            </div>
            
            <div class="col" style="text-align:center;color:black;">
             <img src="https://image.flaticon.com/icons/svg/149/149004.svg" style="height:210px;width:210px;">
             <br><br>
              <h1 style="font-size:33px;font-weight:700;">Interactive Courses</h1>
              <h1 style="font-size:20px;font-weight:100;line-height:25px;">High School Courses with in-depth explanations, quality videos, along with practice quizzes and tests!</h1>
            </div>
            
            <div class="col" style="text-align:center;color:black;">
              <img src="https://image.flaticon.com/icons/svg/1373/1373016.svg" style="height:210px;width:210px;">
              <br><br>
              <h1 style="font-size:33px;font-weight:700;">Learn for Free</h1>
              <h1 style="font-size:20px;font-weight:100;line-height:25px;">Learn a new subject, prepare for the next academic year, or simply reinforce your learnings. 100% Free.</h1>
            </div>
            </div>
            <br><br><hr><br>
             <h1 style="text-align:center;font-size:60px;font-weight:600;color:black;">A simpler way to learn:</h1>
             <h2 style="text-align:center;font-size:30px;font-weight:500;color:#3E3E3E;">Interactive Courses with Videos</h2>
<div style="padding:2.5px;"></div>
        <div class="row">
         
            <div class="box col">
                <a href="/biology"><img  src="https://i.imgur.com/C149Ef5.jpg" alt="Biology" height="235" width="310"></a>
            </div>
            <div class="box col">
                <a href="/chemistry"><img src="https://i.imgur.com/2uluUfJ.jpg" alt="Chemistry" height="235" width="310"></a>
            </div>
            <div class="box col">
                <a href="/physics"><img src="https://i.imgur.com/j9wxNHb.jpg" alt="Physics" height="235" width="310"></a>
            </div>
           
        </div>
<div style="padding:2.5px;">      </div>
      <div class="row">
         
            <div class="box col">
                 <a href="/pre-algebra"><img  src="https://i.imgur.com/JbzPbPG.jpg" alt="prealgebra" height="182" width="230"></a>
            </div>
            <div class="box col">
                <a href="/algebra-1"><img src="https://i.imgur.com/oeMbyID.jpg" alt="Algebra One" height="182" width="230"></a>
            </div>
            <div class="box col">
                <a href="/geometry"><img src="https://i.imgur.com/mTcYe9E.jpg" alt="Geometry" height="182" width="230"></a>
            </div>
            <div class="box col">
                <a href="/algebra-2"><img src="https://i.imgur.com/uLFLVU0.jpg" alt="Algebra Two" height="182" width="230"></a>
            </div>
            
            
        </div>
<div style="padding:2.5px;"></div>
        <div class="row">
            
                <div class="box col">
                    <a href="/english-1"><img  src="https://i.imgur.com/XLUzqOx.jpg" alt="English 1" height="235" width="310"></a>
                </div>
                <div class="box col">
                    <a href="/english-2"><img src="https://i.imgur.com/TSrC8RH.jpg" alt="English 2" height="235" width="310"></a>
                </div>
                <div class="box col">
                    <a href="/english-3"><img src="https://i.imgur.com/axfCjBu.jpg" alt="English 3" height="235" width="310"></a>
                </div>
            
            </div>
<div style="padding:2.5px;"></div>
        <div class="row">
         
            <div class="box col">
                <a href="/spanish-1"><img  src="https://i.imgur.com/XOU9g3n.jpg" alt="Spanish 1" height="182" width="230"> </a>
            </div>
            <div class="box col">
                <a href="/spanish-2"><img src="https://i.imgur.com/e4bYclQ.jpg" alt="Spanish 2" height="182" width="230"></a>
            </div>
            <div class="box col">
                <a href="/spanish-3"><img src="https://i.imgur.com/RVOcTZ5.jpg" alt="Spanish 3" height="182" width="230"></a>
            </div>
            <div class="box col">
                <a href="/culture"><img src="https://i.imgur.com/dsKUDqU.jpg" alt="Culture of the World" height="182" width="230"></a>
            </div>
            
            
        </div>
<div style="padding:2.5px;"></div>
        <div class="row">
            
                <div class="box col">
                    <a href="/world-history"><img  src="https://i.imgur.com/xDBr5N3.jpg" alt="World History" height="235" width="310"></a>
                </div>
                <div class="box col">
                    <a href="/us-history"><img src="https://i.imgur.com/AB3waMk.jpg" alt="US History" height="235" width="310"></a>
                </div>
                <div class="box col">
                    <a href="/comp-sci"><img src="https://i.imgur.com/xy5xMEs.jpg" alt="Comptuter Science" height="235" width="310"></a>
                </div>
            
            </div>
<div style="padding:2.5px;"></div>
<div class="row">
         
            <div class="box col">
                <a href="/theory"><img  src="https://i.imgur.com/DaTJArn.jpg" alt="intrumental showcase" height="182" width="230"> 
            </div>
            <div class="box col">
                <a href="/composition"><img src="https://i.imgur.com/zUZ8fWq.jpg" alt="composition music" height="182" width="230">
            </div>
            <div class="box col">
                <a href="/coding"><img src="https://i.imgur.com/1XFPpWk.jpg" alt="coding (computers, html, css, frontend, etc.)" height="182" width="230">
            </div>
            <div class="box col">
                <a href="/ai"><img src="https://i.imgur.com/6FfLLnN.jpg" alt="Artifical Inteligence" height="182" width="230">
            </div>
            
            
        </div>
        <br>
       
        <h4 style="text-align:center;font-size:25px;font-weight:500;color:#3E3E3E;">and many more! <a href="/courses" style="text-decoration:none;">See all courses and paths</a></h4>
        
        
        <br>
    
    <hr>
    
</div>
<div style="position:relative;">
  <div style="color:#ddd;background-color:white;text-align:center;padding:50px 80px;text-align: justify;height:400px;">
      <div class="row">
          <div class="col-4">
              <img src="https://image.flaticon.com/icons/svg/167/167756.svg" height="305" width="295">
          </div>
           <div class="col-8">
              <h1 style="color:black;font-size:60px;font-weight:600;">Why Choose Wancademy?</h1>
           <hr>

              <h1 style="color:black;font-size:26px;font-weight:100;"><i style="font-size:25px;" class="far fa-hand-point-right"></i> Prepare For The Next Academic Year</h1>
              <h1 style="color:black;font-size:26px;font-weight:100;"><i style="font-size:25px;" class="far fa-hand-point-right"></i> Improve Your Grades</h1>
              <h1 style="color:black;font-size:26px;font-weight:100;"><i style="font-size:25px;" class="far fa-hand-point-right"></i> Learn On Your Own Pace</h1>
              <h1 style="color:black;font-size:26px;font-weight:100;"><i style="font-size:25px;" class="far fa-hand-point-right"></i> Grasp Concepts Through Intriguing Projects</h1>
              <h1 style="color:black;font-size:26px;font-weight:100;"><i style="font-size:25px;" class="far fa-hand-point-right"></i> 100% Free: No fees, No Limitations</h1>
          </div>
      </div>
    
  </div>
</div>


<div style="position:relative;">
  <div style="color:#A9A9A9;background:url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/rN0W64K4ipau8gxv/videoblocks-flight-in-space-childrens-animation-with-painted-cartoon-stars-4k-beautiful-background_sczvgsfkdf_thumbnail-full01.png);text-align:center;padding:50px 80px;text-align: justify;">
    <h1 style="text-align:center;font-size:60px;font-weight:600;color:white;">What are you waiting for?</h1>
    <div style="padding:6px;"></div>
    <div style="text-align:center;">
        <a href="/register" class="button-hover btn btn-lg btn-primary">Get Started Now!</a>
        <a href="/learn-more" class="button-hover btn btn-lg btn-danger">Reviews & Testimonials</a>
    </div>
  </div>
  </div>



<% include ./partials/footer %>
