<% include ./partials/header %>

<div style="text-align:center;" lass="container">
    <br><br><br><br>
    <img src="https://image.flaticon.com/icons/png/512/1014/1014173.png" width="300" height="330"> 
    <h1 style="font-weight:200;font-size:70px;">Forbidden to access this page</h1>
    <br>
    <a href="/">Back to Dashboard</a>
</div>


