<% include ./partials/header %>

<div class="jumbotron" style="height:350px;background:#20BDFF">
    <div class="container" style="text-align:center;">
        <br><br>
        <h1 style="font-weight:700;font-size:96px;color:white;">Planned Updates</h1>
        <br>
        <a type="button" class="btn btn-primary btn-lg" target="_blank"  href="mailto:wancademy@gmail.com">Questions & Feedback</a>
    </div>
</div>

<div class="container" style="text-align: center;padding-right:150px;padding-left:150px;">
    <br>
    <h1 style="font-weight:700;font-size:50px;">Introduction:</h1>
    <p style="font-weight:200;font-size:22px;">Wancademy strives to provide high quality courses and content for our users. This page will show our current courses and planned updates/features! As always, since our offerings are free, we appreciate <a href="/donate" target="_blank" >donations</a>  to help accelerate the development and release of courses!</p>
   
    <br>
    <a target="_blank" href="https://forms.gle/fFzebLoWSKRwzrgi8" class="btn btn-info btn-lg">Request a Course</a>
    
    <br><br>
    <hr>
    <br>
    
    <h1 style="font-weight:700;font-size:50px;">Current Offerings</h1>
    <p style="font-weight:200;font-size:22px;">1) HTML Course - a sweet and simple course teaching the basics of website structure. 🖥</p>
    <p style="font-weight:200;font-size:22px;">2) CSS Course - usually taken after HTML, CSS allows programs to have style. 😎</p>
    <p style="font-weight:200;font-size:22px;">3) Aviation Course - learn aerodynamics, weather, how planes fly, and training guidance. 🛩</p>
    
    
    <br>
    <hr>
    <br>

    <h1 style="font-weight:700;font-size:50px;">Future Offerngs:</h1>
    <br><br>
    
    <p style="font-weight:200;font-size:22px;">1) Javascript Course - learn to create interactive content like games and forms.</p>
    <p style="font-weight:200;font-size:22px;">2) Bootstrap Course - a popular library, bootstrap allows for easy and pleasing designs.</p>
    <p style="font-weight:200;font-size:22px;">3) Java Course - a popular lanauge, especially for computer science, Java does it all.</p>
    
    
</div>

<br><br>
</div>



<% include ./partials/footer %> 