
<% include ./partials/header %>


<div class="jumbotron" style="background: url(https://i.imgur.com/31a7pWi.jpg); height:295px;">
	<div class="container">
		<br><br><br>
		<h1 style="color:white;font-size:70px;"><strong>Post Content</strong></h1>
	</div>
	</div>
	
	<div class="container">
	
	<div class="col-md-6" style="position: relative;margin-bottom:38px;border-radius:3%;width:550px;height:320px;background:url(https://i.imgur.com/fKR7gCQ.jpg);">
   <div style="text-align:center;">
     <br>    
      <h1 style="color:white;font-weight:900;font-size:40px;">Create A Class</h1>
      <h1 style="color:white;font-weight:300;font-size:25px;">Take a quick tour on using your educators dashboard</h1>
      <br>
      <a href="/educators-dashboard-instructions" class="button3-md">Take the Tour <i class="fa fa-laptop"></i></a>
   </div>
 </div>
 
 <div class="col-md-6" style="position: relative;left: 40px;margin-bottom:38px;border-radius:3%;width:550px;height:320px;background:url(https://i.imgur.com/bqFiUPp.jpg);">
  <br>
  <div style="text-align:center;">
  <h1 style="color:white;font-weight:900;font-size:40px;">Courses</h1>
      <h1 style="color:white;font-weight:300;font-size:25px;">Learn with Wancademy Courses</h1>
      <br><br>
      <a href="/post-content" class="button3-md">Create a Post <i class="fa fa-edit"></i></a>
      <br>
		</div>
 </div>
 </div>

<br><br><br><br><br><br><br><br><br><br>

<% include ./partials/footer %> 
