<% include ./partials/header %>
<style>
  body{
    overflow:hidden;
  }
</style>
<br>
<div class="login-page">
  <div class="form">
  
    <form action="/register" method="POST" class="login-form">
      <h1 style="font-size:45px;font-weight:800;color:black">Register</h1>
      <hr><br>
      <input name="username" type="text" placeholder="Username"/>
       <input name="email" type="email" placeholder="Email"/>
      <input name="password" type="password" placeholder="Password"/>
      <!--<input type="password" name="developerCode" placeholder="Admin (Developing Purposes)"/>-->
     
      <button>get started!</button>
      <p class="message">Not registered? <a href="/login" style="color:#0097FF;">Create an account</a></p>
    </form>
  </div>
</div>
<style>
  $('.message a').click(function(){
   $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
});
</style>