<% include ./partials/header %>
<br><br><br>

<div class="container">
	<br><br>
	<h1 style="font-size:50px;"><strong>Recover <span class="color:#00AAFF">Password</span></strong></h1>
		<form action="/reset/<%= token %>" method="POST">
	<br>
    <input class="input-field-new" type="password" name="password" value="" placeholder="New password" placeholder="Your new password" required>
    <br><br>
    <input class="input-field-new" type="password" name="confirm" value="" placeholder="Confirm password" required>
    <br><br><br>
    <input type="submit" class="button3-md" value="Update Password">
    </form>
    
    <br><br><br>
</div>




<% include ./partials/footer %>