<% include ./partials/header %> 
<style>
body{
overflow: hidden;
}
</style>

<div class="jumbotron" style="background: #00c6ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

height:1000px;">
    <div class="container">
        <br><br><br> <br><br>
        <h1 style="color:white;font-size:100px;"><strong>Donation Successful! <i class="far fa-thumbs-up"></i></strong></h1>
         <h1 style="color:white;font-size:35px;"><strong>Thank you for your donation! Your help is deeply appreciated. We will be able to create more courses and quality content.</strong></h1>
        <br><br>
        <a href="/campgrounds" class="button7-md"><i class="far fa-hand-point-left"></i> Back to Dashboard</a>
    </div>
</div>

<br><br>
<div class="container">
    <h3>[Paypal and credit card to be done]</h3>
</div>
<br><br><br><br><br><br><br><br><br>

<% include ./partials/footer %> 