<% include ./partials/header %> 

<style>
  .jumbotron {
    



background: #24C6DC; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #24C6DC , #514A9D); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #24C6DC , #514A9D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        

    background-size: cover;
    font-family: 'Raleway', sans-serif;
    height:350px;
}
.explore-title{
   font-family: 'Raleway', sans-serif;
   font-weight:100;
}
.explore-sub-title{
  font-family: 'Raleway', sans-serif;
   font-weight:100;
}
</style>

<!-- Jumbotron -->
<div class="jumbotron">
  <h1 style="color:white;" class="explore-title">Free Courses For Life 🤝</h1>
  <h1 class="explore-sub-title" style="color:white; font-size:40px;">Education. School. Entertainment</h1>
  
</div>

<!-- Under Jumbotron -->

<div class="container">
<h1 id="popular-course"><strong><span style="color:red;">Courses</h1>
<br>
<div class="container">

<div class="row">
<div class="col-md-4">
<div class="pic-animals"> <div class="text"> 
<strong>Language Arts 📚</strong> ~ The world around us talks. So why not sound smarter by taking the Language Arts course? <br>
<br>
<button class="btn btn-danger">Add Course</button>
<a href="/la" class="btn btn-info">More Info</a>
 </div>
</div>
</div>

<div class="col-md-4">
<div class="pic-tech"> <div class="text"> 
<strong>Mathamatics ➗</strong> ~  People use math everyday! For cash, probability, and engineering! Be above your class by taking this course.<br>
<br>
<button class="btn btn-danger">Add Course</button>
<a href="/math" class="btn btn-info">More Info</a>
 </div>
</div>
</div>

<div class="col-md-4">
<div class="pic-music"> <div class="text"> 
<strong>Music</strong> ~ Music is a part of life. You hear it everywhere! In the radio, band, and more! Use your knowledge from this course to perform to friends. 🎶<br>
<br>
<button class="btn btn-danger">Add Course</button>
<a href="/music" class="btn btn-info">More Info</a>
 </div>
</div>
</div>
</div>

<br><br>
<div class="row">
<div class="col-md-4">
<div class="pic-art"> <div class="text"> 
<strong>Art</strong> ~ Learn to create amazing art using this course!<br>
<br>
<button class="btn btn-danger">Add Course</button>
<a href="/art" class="btn btn-info">More Info</a>
 </div>
</div>
</div>

<div class="col-md-4">
<div class="pic-game"> <div class="text"> 
<strong>Programming</strong> ~ What is programming? This website! In this course you will play a fun game and learn coding along!<br>
<br>
<button class="btn btn-danger">Add Course</button>
<a href="/code" class="btn btn-info">More Info</a>
 </div>
</div>
</div>

<div class="col-md-4">
<div class="pic-education"> <div class="text"> 
<strong>Science</strong> ~ Science is such an intresting subject! Learn about the human anatomy and many more!<br>
<br>
<button class="btn btn-danger">Add Course</button>
<a href="/science" class="btn btn-info">More Info</a>
 </div>
</div>
</div>


</div>


<% include ./partials/footer %> 
<style> #ish {color:green}; </style>
<style> #swishmel {color:red}; </style>