<% include ../../partials/header %> <!-- HEADER PARTIALS -->
<style>
    .jumbotron{
        background: #FF9300;  /* fallback for old browsers */
        height:275px;
    }
    a:hover{
        color:#FF9300;
        transition:0.2s;
    }

    .list-group-item.active {
      z-index: 2;
      color: #fff;
      background-color: #FF9300;
      border-color: #FF9300;
    }


    h1 {
        font-size:45px;
    }
</style>
<div class="jumbotron">
    <br>
    <div style="padding:7px;"></div>
        
        <h1 style="text-align:center;color:white;font-size:90px;font-weight:600;">HTML</h1>
        <br>
        
</div>


<div class="container">
    
    <div class="row">
        <!--Vertical Buttons-->
        <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#intro" role="tab" aria-controls="home">1) Introduction to HTML</a>
            <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" href="#tutorial" role="tab" aria-controls="home">2) Using the Editor</a>
                <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" href="#doctags" role="tab" aria-controls="home">3) Document & Tags</a>
                <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#hp" role="tab" aria-controls="profile">4) Headings & Paragraphs</a>
                <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#links" role="tab" aria-controls="messages">5) HTML Links</a>
                <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#images" role="tab" aria-controls="settings">6) HTML Images</a>
                <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#buttons" role="tab" aria-controls="settings">7) HTML Buttons</a>
                <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#lists" role="tab" aria-controls="messages">8) HTML Lists</a>
                <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#attributes" role="tab" aria-controls="messages">9) HTML Attributes</a>
                <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#style" role="tab" aria-controls="messages">10) HTML Stylings</a>
                <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#commentsdivs" role="tab" aria-controls="settings">11) HTML Comments & Divs</a>
                <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#tables" role="tab" aria-controls="messages">12) HTML Tables</a>
                <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#responsive" role="tab" aria-controls="messages">13) HTML Spans</a>
                                <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#quiz1" role="tab" aria-controls="messages">14) HTML Quiz #1</a>
                <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#wrap" role="tab" aria-controls="settings">15) Wrap Up</a>
            </div>
        </div>
        <!--Info about lesson-->
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
                
                <!--Intro-->
                <div class="tab-pane fade show active" id="intro" role="tabpanel" aria-labelledby="list-home-list">
                    <h1>Introduction to HTML</h1>
                    <hr>
                    <h5 style="color:#2A2A2A;font-weight:300;font-size:25px;line-height: 1.5;">In this first lesson, you will be introduced to HTML, its uses, and some examples of websites created using HTML.</h5>
                    <br>
                    <img src="https://i.imgur.com/e47rAgQ.jpg" width="450" height="260">
                    <br><br><br>
                    <a href="/editor/html/introduction" class="btn btn-primary" style="color:white;"><i class="fas fa-play-circle"></i> Start Lesson</a>
                </div>
                <!--Tutorial-->
                <div class="tab-pane fade " id="tutorial" role="tabpanel" aria-labelledby="list-home-list">
                    <h1>Using the Editor</h1>
                    <hr>
                    <h5 style="color:#2A2A2A;font-weight:300;font-size:25px;line-height: 1.5;">In this lesson, you will be introduced to the new editor layout, and how to use it.</h5>
                    <br>
                   <br>
                    <a href="/editor/html/tutorial" class="btn btn-primary" style="color:white;"><i class="fas fa-play-circle"></i> Start Lesson</a>
                </div>
                <!--Documents and Tags-->
                <div class="tab-pane fade " id="doctags" role="tabpanel" aria-labelledby="list-home-list">
                    <h1>Documents and Tags</h1>
                    <hr>
                    <h5 style="color:#2A2A2A;font-weight:300;font-size:25px;line-height: 1.5;">In this lesson, you will be introduced to tags and you learn how to declare an HTML document and you'll apply to some simple examples!</h5>
                    <br>
                    <img src="https://i.imgur.com/b3kyHDn.png" width="510" height="300">
                    <br><br>
                    <a href="/editor/html/documentandtags" class="btn btn-primary" style="color:white;"><i class="fas fa-play-circle"></i> Start Lesson</a>
                </div>
                <!--Heading and paragraphs-->
                <div class="tab-pane fade" id="hp" role="tabpanel" aria-labelledby="list-profile-list">
                    <h1>Headings and Paragraphs</h1>
                    <hr>
                    <h5 style="color:#2A2A2A;font-weight:300;font-size:25px;line-height: 1.5;">In this lesson, you will be introduced to different types of headings <br>(h1-h6) and the paragraph tag (p), using the tags formula used in the previous lesson. </h5>
                    <br>
                    <img src="https://i.imgur.com/M2m5iu3.png" width="350" height="320">
                    <img src="https://i.imgur.com/S8ecvbn.png" width="360" height="220">
                    <br><br>
                    <a href="/editor/html/headingsandparagraph" class="btn btn-primary" style="color:white;"><i class="fas fa-play-circle"></i> Start Lesson</a>
                </div>
                <!--Links-->
                <div class="tab-pane fade" id="links" role="tabpanel" aria-labelledby="list-messages-list">
                    <h1>Links</h1>
                        <hr>
                        <h5 style="color:#2A2A2A;font-weight:300;font-size:25px;line-height: 1.5;">In this lesson, you will be introduced to links: Locally and Externally</h5>
                        <br>
                        <img src="https://i.imgur.com/8YvCdxj.png" width="630" height="160">
                        <br><br>
                        <a href="/editor/html/links" class="btn btn-primary" style="color:white;"><i class="fas fa-play-circle"></i> Start Lesson</a>
                </div>
                <!--Images-->
                <div class="tab-pane fade" id="images" role="tabpanel" aria-labelledby="list-settings-list">
                    <h1>Images</h1>
                    <hr>
                    <h5 style="color:#2A2A2A;font-weight:300;font-size:25px;line-height: 1.5;">In this lesson, you will learn how to create an image from online and locally. You will also use the "alt" attribute, width, height, and integrate image and links. </h5>
                    <br>
                    <img src="https://i.imgur.com/3UZdxuF.png" width="598" height="210">
                    <br><br>
                    <a href="/editor/html/images" class="btn btn-primary" style="color:white;"><i class="fas fa-play-circle"></i> Start Lesson</a>
                </div>
                <!--Buttons-->
                <div class="tab-pane fade" id="buttons" role="tabpanel" aria-labelledby="list-messages-list">
                    <h1>Buttons</h1>
                        <hr>
                        <h5 style="color:#2A2A2A;font-weight:300;font-size:25px;line-height: 1.5;">In this lesson, you will create buttons, use them as links, and learn to style them!</h5>
                        <br>
                        <img src="https://i.imgur.com/Djrgg8z.png" width="430" height="330">
                        <br><br>
                        <a href="/editor/html/buttons" class="btn btn-primary" style="color:white;"><i class="fas fa-play-circle"></i> Start Lesson</a>
                </div>
                <!--Lists-->
                <div class="tab-pane fade" id="lists" role="tabpanel" aria-labelledby="list-profile-list">
                    <h1>Lists</h1>
                    <hr>
                    <h5 style="color:#2A2A2A;font-weight:300;font-size:25px;line-height: 1.5;">In this lesson, you will learn how to use tags such as unordered and ordered lists along with list-style-types.</h5>
                    <br>
                    <img src="https://i.imgur.com/HkexHEn.png" width="430" height="330">
                    <br><br>
                    <a href="/editor/html/lists" class="btn btn-primary" style="color:white;"><i class="fas fa-play-circle"></i> Start Lesson</a>
                </div>
                <!--Attributes-->
                <div class="tab-pane fade" id="attributes" role="tabpanel" aria-labelledby="list-profile-list">
                    <h1>Attributes</h1>
                    <hr>
                    <h5 style="color:#2A2A2A;font-weight:300;font-size:25px;line-height: 1.5;">Attributes are used frequently in HTML, and in this lesson, we will take a look at the most common attributes. </h5>
                    <br>
                    <!--CURRENTLY WORKING ON THIS. NEED TO GET IMAGE-->
                    <img src="https://i.imgur.com/cOcV7ry.png" width="560" height="200">
                    <br><br>
                    <a href="/editor/html/attributes" class="btn btn-primary" style="color:white;"><i class="fas fa-play-circle"></i> Start Lesson</a>
                </div>
                <!--Styling-->
                <div class="tab-pane fade" id="style" role="tabpanel" aria-labelledby="list-messages-list">
                    <h1>Inline Stylings</h1>
                        <hr>
                        <h5 style="color:#2A2A2A;font-weight:300;font-size:25px;line-height: 1.5;">In this lesson, you will learn the style attribute, background color, text color, fonts, text-size, and alignments.</h5>
                        <br>
                        <img src="https://i.imgur.com/Jgd3bRG.png" width="550" height="430">
                        <br><br>
                        <a href="/editor/html/inline-style" href="/html" class="btn btn-primary" style="color:white;"><i class="fas fa-play-circle"></i> Start Lesson</a>
                </div>
                <!--Comments and Divs-->
                <div class="tab-pane fade" id="commentsdivs" role="tabpanel" aria-labelledby="list-profile-list">
                    <h1>Comments and Divs</h1>
                    <hr>
                    <h5 style="color:#2A2A2A;font-weight:300;font-size:25px;line-height: 1.5;">In this lesson, you will learn the function of comments, how to use them, and the purpose of divs and their use. We will also go over spans</h5>
                    <br>
                    <img src="https://i.imgur.com/qp6j0vJ.png" width="600" height="330">
                    <br><br>
                    <a href="/editor/html/commentdivs" class="btn btn-primary" style="color:white;"><i class="fas fa-play-circle"></i> Start Lesson</a>
                </div>
               
                <!--Tables-->
                <div class="tab-pane fade" id="tables" role="tabpanel" aria-labelledby="list-profile-list">
                    <h1>Tables</h1>
                    <hr>
                    <h5 style="color:#2A2A2A;font-weight:300;font-size:25px;line-height: 1.5;">In this lesson, you will learn how to create and use tables in practical applications.</h5>
                    <br>
                    <img src="https://i.imgur.com/3CZfr1K.png" width="500" height="330">
                    <br><br>
                    <a href="/editor/html/tables" class="btn btn-primary" style="color:white;"><i class="fas fa-play-circle"></i> Start Lesson</a>
                </div>
              
                <!--Responsive Site-->
                <div class="tab-pane fade" id="responsive" role="tabpanel" aria-labelledby="list-profile-list">
                    <h1>Using Span</h1>
                    <hr>
                    <h5 style="color:#2A2A2A;font-weight:300;font-size:25px;line-height: 1.5;">In this lesson, you will learn how to use spans in your code, and why they are practical.</h5>
                    <br>
                    <img src="https://i.imgur.com/dqNLP5Q.png" width="530" height="160">
                    <br><br>
                    <a href="/editor/html/span" class="btn btn-primary" style="color:white;"><i class="fas fa-play-circle"></i> Start Lesson</a>
                </div>
                <!--Quiz 1-->
                <div class="tab-pane fade" id="quiz1" role="tabpanel" aria-labelledby="list-profile-list">
                    <h1>HTML Quiz #1</h1>
                    <hr>
                    <h5 style="color:#2A2A2A;font-weight:300;font-size:25px;line-height: 1.5;">Great job so far! Take this quiz to test your new knowledge:</h5>
                    <br>
                    <img src="https://i.imgur.com/sqdCKsF.png" width="570" height="100">
                    <br><br>
                    <a href="/editor/html/quiz1" class="btn btn-primary" style="color:white;">HTML Quiz #1</a>
                </div>
                
                <!--Wrap up-->
                <div class="tab-pane fade" id="wrap" role="tabpanel" aria-labelledby="list-profile-list">
                    <h1>Wrap Up</h1>
                    <hr>
                    <h5 style="color:#2A2A2A;font-weight:300;font-size:25px;line-height: 1.5;">Congrats! You have finished the HTML course! There is so much more to learn, which is best learnt through personal projects and experience. Here are what we recommend for you to do next:</h5>
                    <br>
                    <img src="https://i.imgur.com/oeFh70T.png" width="470" height="250">
                    <br><br>
                    <a class="btn btn-primary" style="color:white;">Learn CSS</a>
                    <a class="btn btn-primary" style="color:white;">Code Your Portfolio</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <hr>
    
    <a class="btn btn-primary btn-lg" style="color:white;"><i class="fas fa-backward"></i> Back to Dashboard</a>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSd0ghPgun7IQdOhLUTfFKWujaWhi4GtR0GzF69ONuLEXPYdFQ/viewform?usp=sf_link" target="_blank" class="btn btn-info btn-lg" style="color:white;"><i class="fas fa-comments"></i> Feedback</a>

</div>




<br><br><br>
<% include ../../partials/footer %>