<% include ../../partials/header %> 
<br><br><br><br>
<style>
    body{
        overflow:hidden;
    }
</style>
<div class="container">
    <div class="alert alert-info" role="alert">
  We <strong>highly</strong> recommend that you select all courses and follow them in order. All selected courses will be shown on your dashboard
</div>

    <h1 style="font-weight:100;color:black;font-size:65px;">Recommended courses for you:</h1>
   
    <br>
    
    <div class="card-deck">
  <div class="animated zoomIn card">
    <img class="card-img-top" src="https://i.imgur.com/pe0enDH.jpg" alt="Card image cap">
     <div class="card-body">
      <a style="color:white;" class="btn btn-primary">Curriculum</a>
      <a style="color:white;" class="btn btn-success">Select</a>
    </div>
  </div>
  <div class=" animated zoomIn card" style="animation-delay: 0.7s;">
    <img class="card-img-top" src="https://i.imgur.com/6nMZChY.jpg" alt="Card image cap">
     <div class="card-body">
            <a style="color:white;" class="btn btn-primary">Curriculum</a>
      <a style="color:white;" class="btn btn-success">Select</a>
    </div>
  </div>
  <div class="animated zoomIn card" style="animation-delay: 1.7s;">
    <img class="card-img-top" src="https://i.imgur.com/Id0pcuR.jpg" alt="Card image cap">
     <div class="card-body">
            <a style="color:white;" class="btn btn-primary">Curriculum</a>
      <a style="color:white;" class="btn btn-success">Select</a>
    </div>
  </div>
  <div class="animated zoomIn card" style="animation-delay: 2.7s;">
    <img class="card-img-top" src="https://i.imgur.com/Xjrc6Kf.jpg" alt="Card image cap">
    <div class="card-body">
            <a style="color:white;" class="btn btn-primary">Curriculum</a>
      <a style="color:white;" class="btn btn-success">Select</a>
    </div>
  </div>
</div>

 <button id="fixedbutton3" class="btn btn-primary"><a href="/" style="text-decoration:none;color:white;">Go to my dashbaord</a></button>
 <button id="fixedbutton4" class="btn btn-primary"><a href="/recommendations/sitesandgames/advanced" style="text-decoration:none;color:white;">Learned this?</a></button>
</div>
<br><br><br><br><br><br><br>
<% include ../../partials/footer %> 