<% include ../../partials/header %> 
<br><br><br><br>
<style>
    body{
        overflow:hidden;
    }
</style>
<div class="container">
    <div class="alert alert-warning" role="alert">
  Not sure what you want to learn? Start with these 
</div>

    <h1 style="font-weight:100;color:black;font-size:65px;">Fun courses to get into coding!</h1>
   
    <br>
    
    <div class="card-deck">
  <div class="animated zoomIn card">
    <img class="card-img-top" src="https://i.imgur.com/f6rMmyd.jpg" alt="Card image cap">
     <div class="card-body">
      <a style="color:white;" class="btn btn-primary">Curriculum</a>
      <a style="color:white;" class="btn btn-success">Select</a>
    </div>
  </div>
  <div class=" animated zoomIn card" style="animation-delay: 0.7s;">
    <img class="card-img-top" src="https://i.imgur.com/y2VX4pf.jpg" alt="Card image cap">
     <div class="card-body">
            <a style="color:white;" class="btn btn-primary">Curriculum</a>
      <a style="color:white;" class="btn btn-success">Select</a>
    </div>
  </div>
  <div class="animated zoomIn card" style="animation-delay: 1.7s;">
    <img class="card-img-top" src="https://i.imgur.com/FttZW0P.jpg" alt="Card image cap">
     <div class="card-body">
            <a style="color:white;" class="btn btn-primary">Curriculum</a>
      <a style="color:white;" class="btn btn-success">Select</a>
    </div>
  </div>
  <div class="animated zoomIn card" style="animation-delay: 2.7s;">
    <img class="card-img-top" src="https://i.imgur.com/SlqSRzy.jpg" alt="Card image cap">
    <div class="card-body">
            <a style="color:white;" class="btn btn-primary">Curriculum</a>
      <a style="color:white;" class="btn btn-success">Select</a>
    </div>
  </div>
</div>

 <button id="fixedbutton4" class="btn btn-primary"><a href="/" style="text-decoration:none;color:white;">Go to my dashbaord</a></button>
 
</div>
<br><br><br><br><br><br><br>
<% include ../../partials/footer %> 