
<% include ../../partials/header %> 


<style>

body{

}

.box:hover{
   transform: scale(1.05); 
   transition: transform 0.7s;
}

.box{
 
   transition: transform 1s;
}

.skill {
    position: relative;
    border-radius:3%;
    /*min-width:250px;*/
    min-height:207px;
    background:#FF7800;
    color:white;
    font-size:35px;
    font-weight:600;
    text-align:center;
    line-height: 2.75rem;
} 

</style>

<div class="jumbotron" style="background:#06A1FF;height:350px;">
    <br><br>
    <h1 style="color:white;font-size:75px;font-weight:500;text-align:center;">What's your experience?</h1>
    
    <p style="color:white;font-size:35px;font-weight:100;text-align:center;">You're intrested in: Sites and Games</p>
</div>
<div class="container py-4" style="margin-bottom:2rem">

    <div class="row justify-content-center">
       
        <div onclick="location.href = 'https://yelp-camp-tommyschool.c9users.io/recommendations/sitesandgames/beginner';" class="box py-5 col-3 mx-3 skill  align-items-center">
            I have never written code
        </div>
     
     
        <div onclick="location.href = 'https://yelp-camp-tommyschool.c9users.io/recommendations/sitesandgames/intermediate';" class="box py-5 col-3 mx-3 skill  align-items-center" style="background-color: #01D897">
            I know the basics of coding
        </div>

      
        <div onclick="location.href = 'https://yelp-camp-tommyschool.c9users.io/recommendations/sitesandgames/advanced';" class="box py-5 col-3 mx-3 skill align-items-center" style="background-color:#FF0000 ">
            I learned advanced skills
        </div>

    </div>
</div>



<% include ../../partials/footer %> 