<% include ../../partials/header %> <!-- HEADER PARTIALS -->
<style>
    .jumbotron{
        background: #FF9300;  /* fallback for old browsers */
        height:275px;
    }
    a:hover{
        color:#FF9300;
        transition:0.2s;
    }

    .list-group-item.active {
      z-index: 2;
      color: #fff;
      background-color: #FF9300;
      border-color: #FF9300;
    }


    h1 {
        font-size:45px;
    }
</style>

<div class="jumbotron">
    <br>
    <div style="padding:7px;"></div>
        <h1 style="text-align:center;color:white;font-size:100px;font-weight:600;">What is HTML?</i></h1>
        <br>
        
</div>


<div class="container">
<div style="text-align:center;">
<iframe width="80%" height="400" frameBorder="0" src="https://www.youtube-nocookie.com/embed/FSVb41ITpFU?rel=0&amp;showinfo=0"></iframe>
        
<hr><br>
        <div style="padding-left:20px;padding-right:40px;line-height: 1.9;">
            <h1 style="color:black;font-size:25px;font-weight:300;line-height: 1.5;">HTML stands for <strong>Hypertext Markup Language</strong>, a programming language for building structures and displays of a web browser. This is the first step to creating your own websites, games, and creations. In this course, you will visit the basics of the HTML, learn basic examples, apply your learning, and at the end of this course, you should be able to build your own simple website! </h1>
           <br>
            <div style="text-align:center;">
                <a target="_blank" href="https://en.wikipedia.org/wiki/HTML" class="btn btn-info btn-lg" style=" color:white;"> Learn More about HTML</a>
                <a href="/editor/html/documentandtags" class="btn btn-primary btn-lg" style=" color:white;"><i class="fas fa-play-circle"></i> Next Lesson</a>
                
            </div>
        </div>

</div>
</div>
</div>
<br><br>
