<% include ../../partials/header %> <!-- HEADER PARTIALS -->
<style>
    .jumbotron{
        background:url(http://ak5.picdn.net/shutterstock/videos/9162515/thumb/1.jpg);
        height:470px;
    }
    a:hover{
        color:#009BFF;
        transition:0.2s;
    }
</style>

<div class="jumbotron" >
    <br><br><br>
    <h1 style="text-align:center;color:white;font-size:70px;font-weight:900;">Learn Advanced HTML</h1>
    <p style="font-size:30px;text-align:center;color:white;">Click on any video that suits you to get started!</p>
    <br>
    <div style="text-align:center;">
        <a class="button3-md" href="/getstarted/students"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back to Course Selection</a>
    </div>
</div>
<div class="container">

    <br>
        <a href="#" class="button3-md">Quizzes</a>
        <a href="#" class="button3-md">Advanced HTML Certificate Test</a>
        <a href="#" class="button3-md">HTML Projects</a>
        <a href="#" class="button3-md">Videos</a>
        <a href="#" class="button3-md">Articles</a>
        <br><br>
    <br>
    
    <h1 style="font-size:50px;">Advanced HTML Videos</h1>
    <hr>
    <h1 style="font-weight:100;"><a href="/html/tagsandheadings">2) HTML Basics: Tags and Headings</a></h1>
    <hr>
    <h1 style="font-weight:100;"><a href="/html/attributes">3) HTML Basics: Attributes</a></h1>
    <hr>
    <h1 style="font-weight:100;"><a href="/html/styles">4) HTML Basics: Styles</a></h1>
    <hr>
    <h1 style="font-weight:100;"><a href="/html/styles">5) HTML Basics: Quiz</a></h1>
    

<br><br>
<h1 style="font-size:60px;font-size:900;">Advanced HTML Quizzes:</h1>
<h4>Test yourself of your knowledge with our personalized quizzes!</h4>
<h1 style="font-weight:100;"><a href="/html/tagsandheadings">1) HTML Basics: Videos 1-6 Quiz</a></h1>

    
</div>

<br><br><br><br><br><br><br>

<% include ../../partials/footer %> <!-- HEADER PARTIALS -->