<% include ../partials/header %>

<div class="jumbotron" style="height:210px;background:#20BDFF">
    <div class="container" style="text-align:center;">
        <br>
        <h1 style="font-weight:700;font-size:70px;color:white;">Introduction to Aviation</h1>
        <br>
    </div>
</div>

<div class="container" style="text-align: center;padding-right:150px;padding-left:150px;">
    <iframe width="100%" height="500" frameBorder="0" src="https://www.youtube-nocookie.com/embed/FSVb41ITpFU?rel=0&amp;showinfo=0"></iframe>
    


    <a href="/aviation" class="btn btn-primary btn-lg">Back to Course Page</a>
    <!-- <a href="/aviation" class="btn btn-info btn-lg">Previous Lesson</a> -->
    <a href="/aviation/instruments" class="btn btn-info btn-lg">Next Lesson <i class="fas fa-caret-square-right"></i></a>
</div>

<br><br><br>


<% include ../partials/footer %> 