<% include ../partials/header %>

<div class="jumbotron" style="height:250px;background:#7DDBFC">
    <div class="container" style="text-align:center;">
        <br><br>
        <h1 style="font-weight:700;font-size:60px;color:white;">Weather</h1>
        <br>
    </div>
</div>

<div class="container" style="text-align: center;padding-right:150px;padding-left:150px;">
    <iframe width="100%" height="500" frameBorder="0" src="https://www.youtube.com/embed/MKb4XBKNXxQ?rel=0&amp;showinfo=0"></iframe>
    


    <a href="/aviation" class="btn btn-primary btn-lg">Back to Course Page</a>
    <a href="/aviation/communications" class="btn btn-success btn-lg"><i class="fas fa-caret-square-right"></i> Previous Lesson</a> 
    <a href="/aviation/navigation" class="btn btn-info btn-lg">Next Lesson <i class="fas fa-caret-square-right"></i></a>
</div>

<br><br><br>


<% include ../partials/footer %> 