<% include ../partials/header %>



<div class="jumbotron" style="text-align:center;background:url(https://i.imgur.com/DjXDhQx.jpg);height:350px;">
    <br>
    <h1 style="font-weight:100;font-size:75px;color:white;">Teach and Earn</h1>
    <h1 style="font-weight:200;font-size:25px;color:white;">Create quality tutorials or videos and earn revenue</h1>
    <br>
    <a href="/educators/approve" style="text-decoration:none;" class="btn-lg btn btn-primary">Get Approved Today!</a>
</div>

<div class="container">
<br><br>
 <div class="row" style="text-align:center;">
            <div class="col">
              <img src="https://image.flaticon.com/icons/svg/1055/1055689.svg" style="height:210px;width:210px;">
              <br><br>
              <h1 style="font-size:33px;font-weight:700;">Get Approved</h1>
              
              <h1 style="font-size:20px;font-weight:200;">Once approved (by clicking the button on the top), you will have access to an educators dashboard where you can create courses and more.</h1>
            </div>
            
            <div class="col">
             <img src="https://image.flaticon.com/icons/svg/138/138297.svg" style="height:210px;width:210px;">
             <br><br>
              <h1 style="font-size:33px;font-weight:700;">Get Paid</h1>
              <h1 style="font-size:20px;font-weight:200;">Wancademy values quality over quantity. For every tutorial/video watched, you will earn revenue based on our user base, while helping the community.</h1>
            </div>
            
            <div class="col">
              <img src="https://image.flaticon.com/icons/svg/910/910574.svg" style="height:210px;width:210px;">
              <br><br>
              <h1 style="font-size:33px;font-weight:700;">Enjoy Teaching</h1>
              <h1 style="font-size:20px;font-weight:200;">Enjoy a teaching your students, helping them with questions, and get paid doing what you love. Your courses could also be featured on our front page.</h1>
            </div>
            </div>
            
            </div>
<br><br><br><br><br>
<% include ../partials/footer %>