<% include ../partials/header %>



<div class="jumbotron" style="text-align:center;background:#33FF9F;height:430px;">
    <br><br>
    <h1 style="font-weight:700;font-size:95px;color:white;">Be an Educator</h1>
    <h1 style="font-weight:400;font-size:35px;color:white;">Create Quality Videos, and Get Benifits!</h1>
    <br>
    <a href="/educators/approve" style="text-decoration:none;" class="btn-lg btn btn-primary">Start Teaching Today!</a>
</div>

<div class="container">
<br><br>
 <div class="row" style="text-align:center;">
            <div class="col">
              <img src="https://image.flaticon.com/icons/svg/1055/1055689.svg" style="height:210px;width:210px;">
              <br><br>
              <h1 style="font-size:45px;font-weight:700;">Get Approved</h1>
              
              <h1 style="font-size:23px;font-weight:200;">Once approved (by clicking the button on the top), you will have access to an educators dashboard where you can create courses, submit videos, and more.</h1>
            </div>
            
            <div class="col">
             <img src="https://image.flaticon.com/icons/svg/138/138297.svg" style="height:210px;width:210px;">
             <br><br>
              <h1 style="font-size:45px;font-weight:700;">The Benifits</h1>
              <h1 style="font-size:23px;font-weight:200;">Wancademy values quality over quantity. For every tutorial/video watched, you will earn revenue based on our current user base, which will be shared with you.</h1>
            </div>
            
            <div class="col">
              <img src="https://image.flaticon.com/icons/svg/910/910574.svg" style="height:210px;width:210px;">
              <br><br>
              <h1 style="font-size:45px;font-weight:700;">Why Teach?</h1>
              <h1 style="font-size:23px;font-weight:200;">Good teachers are hard to find, but great teachers are a rare gem. Teaching programming and related topics impact the lives of many students, as well as yours.</h1>
            </div>
            </div>
            
            </div>
<br><br><br><br><br>
<% include ../partials/footer %>