<% include ../../partials/editorhead %>

    <style>
        body{
            margin:0;
            padding:0;
            width:100%;
            height:100%;
            overflow:hidden;
        }
        
        #htmleditor {
            height:360px;
            width:44%;
            display:inline-block;
        }
        #csseditor {
            height:360px;
            width:55%;
            display:inline-block;
        }
        #iframe {
            height:10000px;
            overflow: scroll;
            width:100%;
            border: 8px solid #00283F;
            padding:9px;

        }

        #iframe-2 {
            height:560px;
            overflow: scroll;
            width:100%;
            padding:9px;

        }

       
        #result{
            position:absolute;
            border-right: 8px solid #00283F;
	 
            width:95.4%;
            height:100%;
        }
        
    </style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.1/ace.js"></script>
<div class="row">
<div class="col-6">
    <div id="container">
        <div style="background:black;height:100%;width:99.5%;">
        <!--Answer to check-->
        <textarea type="text" id="txt1"  name="txt1" hidden></textarea>
        <!--Actual Editor-->
        <div id="htmleditor"></div>
        
        <!--Answer to check-->
        <textarea type="text" id="txt2"  name="txt2" hidden></textarea>
        <!--Actual Editor-->
        <div id="csseditor"></div>
        <!-- Large Modal -->
        <div class="modal fade bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog"  aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <iframe id='iframe-2' frameBorder="0"></iframe>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button onclick="Run()" type="button" class="btn btn-primary">Check Code</button>
                        </div>
                    </div>
                </div>
            </div>

       </div>
    </div>
    <iframe id="result" frameBorder="0"></iframe>
 </div>   
 



<div class="col-6" style="overflow: hidden;">
        
        <!--Menu-->
        <div style="padding:9px;"></div>
        <ul class="nav nav-tabs" id="mytabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><span style="color:#002439">Instructions</span></a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><span style="color:#002439">Video</span></a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false"><span style="color:#002439">Solution</span></a>
                </li>
            </ul>
        
        <!--Instruction Content-->
        <div class="tab-content" id="myTabContent">
            
            <!--Actual Instruction-->
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div style="padding-right:40px;">
                <div style="padding:9px;"></div>
                    <div style="overflow:scroll;height:1000px;">
                        <h1 style="font-size:35px;font-weight:600;">Colors<br><div style="padding:7px;"></div>
                        <p style="font-weight:440;font-size:21px;">
                              
                                Colors in CSS are defined many ways. We will learn the most important and widely used ones. 
                                <br><br>
                                <strong>By Name</strong>
                                <br><br>
                                CSS Colors can be identified with just their names! There are many places where you can discover new colors, which the websites can be found below!
                                <br><br>
                                <img src="https://i.imgur.com/l5uzI7v.png" height="400" width="650">
                                <br><br>
                                <strong>By RGB</strong>
                                <br><br>
                                The formula for RGB goes: rgb(red, green, blue).
                                Each color means an intensity from 0 to 255. A mixture of these three intensity creates all the colors. There are applications where you can mix these three colors, listed below. Black is rgb(0, 0, 0) and white is rgb(255,255,255)
                                <br><br>
                                
                                <img src="https://i.imgur.com/fd2Gdcx.jpg" height="300" width="550">
                                <br><br>
                                
                                <strong>By Hex</strong>
                                <br><br>
                                Hex is an easier alternative, meaning hexadecimal. #rrggbb Like RGB, hex defines red, green, and blue: the primary colors. You can find sites below where you can get a specific hex of a specific color. 
                                <br><br>

                                The following are some properties and values related to color you can use. 
                                <br><br>
 
                                <img src="https://i.imgur.com/g8VH0Ve.png" height="200" width="320">
                                <br><br>
                                
                                <strong>Website Resources:</strong>
                                <br><br>
                                More Information in Detail: <a href="https://www.w3schools.com/css/css_colors.asp">https://www.w3schools.com/css/css_colors.asp</a>
                                <br><br>
                                RGB Picker: <a href="https://www.rapidtables.com/web/color/RGB_Color.html">https://www.rapidtables.com/web/color/RGB_Color.html</a>
                                <br><br>
                                HEX Color Picker: <a href="https://htmlcolorcodes.com/">https://htmlcolorcodes.com/</a>
                              
                                
                          
                    
                        </p>
                       <br>
                        <hr><h3><strong>Your Turn!</strong></h3>
                        <i class="far fa-square" id="checkbox" style="font-size:23px;"></i> &nbsp; <span style="font-size:21px;font-weight:440">Your turn: Create a paragraph tag and declare with a class (your choice of name). Then, color it green in the CSS File.

</span>
                        
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        
                        </h1>
                        
                        <div style="padding:9px;"></div>
                        <h1 style="font-size:21px;font-weight:440;"> </h1>
                    </div>
         
                </div>
            </div>
            
            <!--Video-->
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <br>
                <iframe width="580" height="320" frameBorder="0" src="https://www.youtube-nocookie.com/embed/FSVb41ITpFU?rel=0&amp;showinfo=0"></iframe>
                <br>
                <div style="padding-right:40px;">
                    <hr>
                    <h3>Instructions:</h3>
                    <h4 style="font-weight:300;"><i class="far fa-square" id="checkbox" style="font-size:23px;"></i> &nbsp;Your turn! Change the &lt;h1&gt; tag in between from "This is a heading" to "Hello World"<br></h4>
                </div>
            </div>
            
            <!--Hints-->
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <div class="container">
                    <br>
                    
                        <p style="font-size:25px;font-weight:300;"><img height="140" width="500" src="https://i.imgur.com/ZnknkoG.png"></p>
                        <div style="padding:5px;"></div>
                        <br><br>
                    </div>
                    
                </div>
            </div>
            
        </div>
  </div>     
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.1/ace.js"></script>
    <script src="jquery-3.3.1.min.js"></script>
   
<script>
    
function update(){
    var idoc = document.getElementById('result').contentWindow.document;
    var idoc2 = document.getElementById('iframe-2').contentWindow.document;
    
    idoc.open();
    idoc.write(eh.getValue());
    idoc.write('<style>'+ec.getValue()+'</style>');
	idoc.close();
	
	idoc2.open();
    idoc2.write(eh.getValue());
    idoc2.write('<style>'+ec.getValue()+'</style>');
    idoc2.close();
}
        
function activaTab(){
    
};

function Run(){
 var eh = ace.edit("htmleditor");
 var ec = ace.edit("csseditor");
 var HTMLCode = eh.getSession().getValue();
 var CSSCode = ec.getSession().getValue();
 var txt1 = document.getElementById("txt1").value;
 var txt2 = document.getElementById("txt2").value;
 $('.nav-tabs a[href="#contact-tab"]').tab('show');


 if (HTMLCode.includes('<p', 'id=','</p>' && CSSCode.includes('.', '{', '}', ';', 'color', 'green', ':'))){
      $( "#checkbox" ).addClass( ".far fa-check-square" ).removeClass( ".far fa-square" );
        swal({
            title: "Good job!",
            text: "Continue to the next lesson!",
            icon: "success",
             closeOnClickOutside: false,
             buttons: {
                confirm: "Next Lesson",
              }
        }).then(function() {
            window.location.href = "/editor/css/borders";
    });
   
   return false;
  } else{
            swal({
          title: "Oh No!",
          text: "Your code seems to be incorrect",
          icon: "error",
          buttons: ["Try Again", "View Solution"],
        })
        .then((willDelete) => {
          if (willDelete) {
            swal("<h1>Hello World</h1>", {
              title: "Solution:",
              icon: "info",
              button: "Try Again" 
            });
          } 
        });
         return false;
    }
}

$(".one").click(function() {
        $(".two").toggle();
    });
    
    $(".one1").click(function() {
        $(".two1").toggle();
    });

$(".one2").click(function() {
        $(".two2").toggle();
    });
    $(".one3").click(function() {
        $(".two3").toggle();
    });

function seteditor(){
    //HTML
    window.eh = ace.edit("htmleditor");
    eh.setTheme("ace/theme/cobalt");
    eh.getSession().setMode("ace/mode/html");
    //CSS
    window.ec = ace.edit("csseditor");
    ec.setTheme("ace/theme/merbivore");
    ec.getSession().setMode("ace/mode/css");
    
    //Set values for html
    eh.setValue(`<!DOCTYPE html>
<html>
    <body>
        
    </body>
</html>`,1); //1 = moves cursor to end
    eh.renderer.setScrollMargin(13, 3);

    //Set values for css
    ec.setValue(``,1); //1 = moves cursor to end
    ec.renderer.setScrollMargin(13, 3);

//HTML Settings
  eh.getSession().on('change', function() {
    update();
  });

  eh.focus();

  eh.setOptions({
    fontSize: "11pt",
    showLineNumbers: true,
    showGutter: true,
    autoScrollEditorIntoView: true,
    enableBasicAutocompletion: false, enableLiveAutocompletion: true
  });

  eh.setShowPrintMargin(false);
  eh.setBehavioursEnabled(false);
   
 //CSS Settings
  ec.getSession().on('change', function() {
    update();
  });

  ec.focus();

  ec.setOptions({
    fontSize: "11pt",
    showLineNumbers: true,
    showGutter: true,
    autoScrollEditorIntoView: true,
    enableBasicAutocompletion: false, enableLiveAutocompletion: true
  });

  ec.setShowPrintMargin(false);
  ec.setBehavioursEnabled(false);
           
}
seteditor();
update();
</script>