<% include ../../partials/editorhead %>

    <style>
        body{
            margin:0;
            padding:0;
            width:100%;
            height:100%;
            overflow:hidden;
        }
        
        #htmleditor {
            height:360px;
            width:44%;
            display:inline-block;
        }
        #csseditor {
            height:360px;
            width:55%;
            display:inline-block;
        }
        #iframe {
            height:10000px;
            overflow: scroll;
            width:100%;
            border: 8px solid #00283F;
            padding:9px;

        }

        #iframe-2 {
            height:560px;
            overflow: scroll;
            width:100%;
            padding:9px;

        }

       
        #result{
            position:absolute;
            border-right: 8px solid #00283F;
	 
            width:95.4%;
            height:100%;
        }
        
    </style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.1/ace.js"></script>
<div class="row">
<div class="col-6">
    <div id="container">
        <div style="background:black;height:100%;width:99.5%;">
        <!--Answer to check-->
        <textarea type="text" id="txt1"  name="txt1" hidden></textarea>
        <!--Actual Editor-->
        <div id="htmleditor"></div>
        
        <!--Answer to check-->
        <textarea type="text" id="txt2"  name="txt2" hidden></textarea>
        <!--Actual Editor-->
        <div id="csseditor"></div>
        <!-- Large Modal -->
        <div class="modal fade bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog"  aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <iframe id='iframe-2' frameBorder="0"></iframe>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button onclick="Run()" type="button" class="btn btn-primary">Check Code</button>
                        </div>
                    </div>
                </div>
            </div>

       </div>
    </div>
    <iframe id="result" frameBorder="0"></iframe>
 </div>   
 



<div class="col-6" style="overflow: hidden;">
        
        <!--Menu-->
        <div style="padding:9px;"></div>
        <ul class="nav nav-tabs" id="mytabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><span style="color:#002439">Instructions</span></a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><span style="color:#002439">Video</span></a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false"><span style="color:#002439">Solution</span></a>
                </li>
            </ul>
        
        <!--Instruction Content-->
        <div class="tab-content" id="myTabContent">
            
            <!--Actual Instruction-->
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div style="padding-right:40px;">
                <div style="padding:9px;"></div>
                    <div style="overflow:scroll;height:1000px;">
                        <h1 style="font-size:35px;font-weight:600;">Fonts and Text Styles<br><div style="padding:7px;"></div>
                        <p style="font-weight:440;font-size:21px;">
                              
                                There are two basic types of fonts: sans and serif.
                                <br><br>
                                <img src="https://i.imgur.com/ZnrVP7K.png" height="150" width="320">
                                
                                <br><br>
                                Serif has trailing edges, while sans is clean. Commonly, serif fonts are used for small texts and fine print readings, while sans are used for large bold titles. There are many types of fonts and properties. <br><br> To define and change the font, use the property: “font-family:”. The types of fonts can be found on many sites online, including <a target="_blank" href="https://www.w3schools.com/cssref/css_websafe_fonts.asp">here</a> 
                                <br><br>
                                <img src="https://i.imgur.com/91Al25C.png" height="90" width="420">
                                
                                <br><br>
                                As shown, this is an example of the syntax.
                                <br><br>
                                <strong>Font Styles</strong>
                                <br><br>
                                To change the style of the font, use the property: “font-style”. There are 3 main types: normal, italic, and oblique (like italic)
                                <br><br>
                                <img src="https://i.imgur.com/mwSJInW.png" height="370" width="300">
                                
                                <br><br>
                                <strong>Font Size</strong>
                                <br><br>
                                To change the font size, use the property: “font-size:”. There are many measurement systems including pixels, em, percents, combinations, and more. We will use pixels
                                <br><br>
                                <img src="https://i.imgur.com/ZpWq50Y.png" height="100" width="300">
                                
                                <br><br>
                                <strong>Font Weight</strong>
                                <br><br>
                                The font weight is how thick the font will be. If it is set low, it will be thin, and if it is set high, it will be bold. You can use values such as normal or bold, but you can also use a scale of 100-900. 100 is the thinnest and 900 is the thickest
                                <br><br>
                                <img src="https://i.imgur.com/UpzM9pg.png" height="250" width="240">
                                
                                <br><br>
                                
                                Fonts are great to experiment with and it’s up to you which ones you choose!
                                <br><br>
    
                        </p>
                       <br>
                        <hr><h3><strong>Your Turn!</strong></h3>
                        <i class="far fa-square" id="checkbox" style="font-size:23px;"></i> &nbsp; <span style="font-size:21px;font-weight:440">Your Turn: Modify the h1 to have a font size of 30 pixels and a font weight of 900.

</span>
                        
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        
                        </h1>
                        
                        <div style="padding:9px;"></div>
                        <h1 style="font-size:21px;font-weight:440;"> </h1>
                    </div>
         
                </div>
            </div>
            
            <!--Video-->
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <br>
                <iframe width="580" height="320" frameBorder="0" src="https://www.youtube-nocookie.com/embed/FSVb41ITpFU?rel=0&amp;showinfo=0"></iframe>
                <br>
                <div style="padding-right:40px;">
                    <hr>
                    <h3>Instructions:</h3>
                    <h4 style="font-weight:300;"><i class="far fa-square" id="checkbox" style="font-size:23px;"></i> &nbsp;Your turn! Change the &lt;h1&gt; tag in between from "This is a heading" to "Hello World"<br></h4>
                </div>
            </div>
            
            <!--Hints-->
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <div class="container">
                    <br>
                    
                        <p style="font-size:25px;font-weight:300;"><img height="130" width="350" src="https://i.imgur.com/nzz0XUn.png"></p>
                        <div style="padding:5px;"></div>
                        <br><br>
                    </div>
                    
                </div>
            </div>
            
        </div>
  </div>     
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.1/ace.js"></script>
    <script src="jquery-3.3.1.min.js"></script>
   
<script>
    
function update(){
    var idoc = document.getElementById('result').contentWindow.document;
    var idoc2 = document.getElementById('iframe-2').contentWindow.document;
    
    idoc.open();
    idoc.write(eh.getValue());
    idoc.write('<style>'+ec.getValue()+'</style>');
	idoc.close();
	
	idoc2.open();
    idoc2.write(eh.getValue());
    idoc2.write('<style>'+ec.getValue()+'</style>');
    idoc2.close();
}
        
function activaTab(){
    
};

function Run(){
 var eh = ace.edit("htmleditor");
 var ec = ace.edit("csseditor");
 var HTMLCode = eh.getSession().getValue();
 var CSSCode = ec.getSession().getValue();
 var txt1 = document.getElementById("txt1").value;
 var txt2 = document.getElementById("txt2").value;
 $('.nav-tabs a[href="#contact-tab"]').tab('show');


 if (HTMLCode.includes('<h1', 'id=','</h1>' && CSSCode.includes('{', '}', ';', 'font-weight', '30px', 'font-size'))){
      $( "#checkbox" ).addClass( ".far fa-check-square" ).removeClass( ".far fa-square" );
        swal({
            title: "Good job!",
            text: "Continue to the next lesson!",
            icon: "success",
             closeOnClickOutside: false,
             buttons: {
                confirm: "Next Lesson",
              }
        }).then(function() {
            window.location.href = "/editor/css/positions";
    });
   
   return false;
  } else{
            swal({
          title: "Oh No!",
          text: "Your code seems to be incorrect",
          icon: "error",
          buttons: ["Try Again", "View Solution"],
        })
        .then((willDelete) => {
          if (willDelete) {
            swal("<h1>Hello World</h1>", {
              title: "Solution:",
              icon: "info",
              button: "Try Again" 
            });
          } 
        });
         return false;
    }
}

$(".one").click(function() {
        $(".two").toggle();
    });
    
    $(".one1").click(function() {
        $(".two1").toggle();
    });

$(".one2").click(function() {
        $(".two2").toggle();
    });
    $(".one3").click(function() {
        $(".two3").toggle();
    });

function seteditor(){
    //HTML
    window.eh = ace.edit("htmleditor");
    eh.setTheme("ace/theme/cobalt");
    eh.getSession().setMode("ace/mode/html");
    //CSS
    window.ec = ace.edit("csseditor");
    ec.setTheme("ace/theme/merbivore");
    ec.getSession().setMode("ace/mode/css");
    
    //Set values for html
    eh.setValue(`<!DOCTYPE html>
<html>
    <body>
        <h1 id="text">My Text</h1>
    </body>
</html>`,1); //1 = moves cursor to end
    eh.renderer.setScrollMargin(13, 3);

    //Set values for css
    ec.setValue(``,1); //1 = moves cursor to end
    ec.renderer.setScrollMargin(13, 3);

//HTML Settings
  eh.getSession().on('change', function() {
    update();
  });

  eh.focus();

  eh.setOptions({
    fontSize: "11pt",
    showLineNumbers: true,
    showGutter: true,
    autoScrollEditorIntoView: true,
    enableBasicAutocompletion: false, enableLiveAutocompletion: true
  });

  eh.setShowPrintMargin(false);
  eh.setBehavioursEnabled(false);
   
 //CSS Settings
  ec.getSession().on('change', function() {
    update();
  });

  ec.focus();

  ec.setOptions({
    fontSize: "11pt",
    showLineNumbers: true,
    showGutter: true,
    autoScrollEditorIntoView: true,
    enableBasicAutocompletion: false, enableLiveAutocompletion: true
  });

  ec.setShowPrintMargin(false);
  ec.setBehavioursEnabled(false);
           
}
seteditor();
update();
</script>