<% include ../../partials/header %> <!-- HEADER PARTIALS -->
<style>
    .jumbotron{
        background: #0093FF;  /* fallback for old browsers */
        height:275px;
    }
    a:hover{
        color:#0093FF;
        transition:0.2s;
    }

    .list-group-item.active {
      z-index: 2;
      color: #fff;
      background-color: #0093FF;
      border-color: #0093FF;
    }


    h1 {
        font-size:45px;
    }
</style>

<div class="jumbotron">
    <br>
    <div style="padding:7px;"></div>
        <h1 style="text-align:center;color:white;font-size:100px;font-weight:600;">What is CSS?</i></h1>
        <br>
        
</div>


<div class="container">
<div style="text-align:center;">
<iframe width="80%" height="400" frameBorder="0" src="https://www.youtube-nocookie.com/embed/FSVb41ITpFU?rel=0&amp;showinfo=0"></iframe>
        
<hr><br>
        <div style="padding-left:20px;padding-right:40px;line-height: 1.9;">
            <h1 style="color:black;font-size:25px;font-weight:300;line-height: 1.5;">CSS represents <strong style="font-weight:700;">Cascading Style Sheets</strong>, a programming language that alters, arranges, and modifies the structures of websites created through HTML. Because it's usually to decorate and style a website, it is usually learnt after <a href="/html">HTML</a>. CSS has a new, but intutive format, and with this course, you will learn the foundations of styling web pages!</h1>
           <br>
            <div style="text-align:center;">
                <a target="_blank" href="https://en.wikipedia.org/wiki/Cascading_Style_Sheets" class="btn btn-info btn-lg" style=" color:white;"> Learn More about CSS</a>
                <a href="/editor/css/tutorial" class="btn btn-primary btn-lg" style=" color:white;"><i class="fas fa-play-circle"></i> Next Lesson</a>
                
            </div>
        </div>

</div>
</div>
</div>
<br><br>
