<% include ../../partials/editorhead %>

    <style>
        body{
            margin:0;
            padding:0;
            width:100%;
            height:100%;
            overflow:hidden;
        }
        
        #htmleditor {
            height:360px;
            width:44%;
            display:inline-block;
        }
        #csseditor {
            height:360px;
            width:55%;
            display:inline-block;
        }
        #iframe {
            height:10000px;
            overflow: scroll;
            width:100%;
            border: 8px solid #00283F;
            padding:9px;

        }

        #iframe-2 {
            height:560px;
            overflow: scroll;
            width:100%;
            padding:9px;

        }

       
        #result{
            position:absolute;
            border-right: 8px solid #00283F;
	 
            width:95.4%;
            height:100%;
        }
        
    </style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.1/ace.js"></script>
<div class="row">
<div class="col-6">
    <div id="container">
        <div style="background:black;height:100%;width:99.5%;">
        <!--Answer to check-->
        <textarea type="text" id="txt1"  name="txt1" hidden></textarea>
        <!--Actual Editor-->
        <div id="htmleditor"></div>
        
        <!--Answer to check-->
        <textarea type="text" id="txt2"  name="txt2" hidden></textarea>
        <!--Actual Editor-->
        <div id="csseditor"></div>
        <!-- Large Modal -->
        <div class="modal fade bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog"  aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <iframe id='iframe-2' frameBorder="0"></iframe>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button onclick="Run()" type="button" class="btn btn-primary">Check Code</button>
                        </div>
                    </div>
                </div>
            </div>

       </div>
    </div>
    <iframe id="result" frameBorder="0"></iframe>
 </div>   
 



<div class="col-6" style="overflow: hidden;">
        
        <!--Menu-->
        <div style="padding:9px;"></div>
        <ul class="nav nav-tabs" id="mytabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><span style="color:#002439">Instructions</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><span style="color:#002439">Video</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false"><span style="color:#002439">Hints</span></a>
                </li>
            </ul>
        
        <!--Instruction Content-->
        <div class="tab-content" id="myTabContent">
            
            <!--Actual Instruction-->
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div style="padding-right:40px;">
                <div style="padding:9px;"></div>
                    <div style="overflow:scroll;height:1000px;">
                        <h1 style="font-size:35px;font-weight:600;">Selectors<br><div style="padding:7px;"></div>
                        <p style="font-weight:440;font-size:21px;">
                                Selectors are used to style a certain element using an ID, class, or an element. We will go over each of these. This is the general syntax:
                                <br><br>
                                <img src="https://i.imgur.com/vKQVmbg.png" height="120" width="250">

                                <br><br>
                                The selector refers to the object you are selecting. When you add specific styles, that is called a <strong>declaration</strong>. 
                                <br><br>
                                As shown here, a declaration has a property and value. For example, if you wanted to change the font color, you would use “color” as the property, and set the value to a color. 
                                <br><br>
                                <img src="https://i.imgur.com/s1nxobj.png" height="90" width="230">
                                
                                <br><br>
                                A declaration is surrounded by curly braces: “{}”, and there is always a semicolon: “;” at the end of each declaration.
                                <br><br>
                                <strong>The Element Selector</strong>
                                <br>
                                The element selector selects elements by their name. Some common examples are paragrahs, headings, links, and body.
                                <br><br>
                                <img src="https://i.imgur.com/ebaAXHw.png" height="260" width="285">
                                
                                <br><br>
                                <strong>The ID Selector</strong>
                                The ID selector selects the id Attribute of an HTML Element to select a specific element. The ID is unique, so it is used once with an element. To ID an element, you will create the ID Attribute along with using the #. 
                                <br><br>
                                <img src="https://i.imgur.com/xMIKYV9.png" height="40" width="340">
                                
                                <br><br>
                                Then using that, you can select the element: 
                                <br><br>
                                <img src="https://i.imgur.com/fRdlSoR.png" height="100" width="240">
                                
                                <br><br>
                                
                                <strong>The Class Selector</strong>
                                <br>
                                The class selector is similar to the ID Selector, but instead of being a unique single element, a class can apply to several elements. Like students in a class! Note that instead of #, you will use a period.
                                <br><br>
                                <img src="https://i.imgur.com/RpZ5oG1.png" height="35" width="310">
                                
                                <br><br>
                                Then you can select the element:
                                <br><br>
                                <img src="https://i.imgur.com/89vh6R7.png" height="90" width="250">
                                
                                <br><br>
                                
                                For classes, you can select specific elements affected by the class
                                <br><br>
                                <img src="https://i.imgur.com/cEDMCCJ.png" height="100" width="320">
                                
                                <br><br>
                                
                                or have more than one class in an element.
                                <br><br>
                                <img src="https://i.imgur.com/iXkTEWN.png" height="35" width="320">
                               
                                <br><br>
                                
                                Before we end, you should also note that you can group elements together such as this: 
                                <br><br>
                                <img src="https://i.imgur.com/yQPReYI.png" height="120" width="330">
                                <br><br>
                                Selectors are the most important part of CSS as it allows you to select elements and apply styles to them. You will get used to them as you continue learning.
                      
                        </p>
                       <br>
                        <hr><h3><strong>Your Turn!</strong></h3>
                        <i class="far fa-square" id="checkbox" style="font-size:23px;"></i> &nbsp; <span style="font-size:21px;font-weight:440">Your turn: Create an ID in the HTML editor in an H1 Tag. Then, style the ID to your liking in the CSS Editor. You can use declerations shown above</span>
                        
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        
                        </h1>
                        
                        <div style="padding:9px;"></div>
                        <h1 style="font-size:21px;font-weight:440;"> </h1>
                    </div>
         
                </div>
            </div>
            
            <!--Video-->
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <br>
                <iframe width="580" height="320" frameBorder="0" src="https://www.youtube-nocookie.com/embed/FSVb41ITpFU?rel=0&amp;showinfo=0"></iframe>
                <br>
                <div style="padding-right:40px;">
                    <hr>
                    <h3>Instructions:</h3>
                    <h4 style="font-weight:300;"><i class="far fa-square" id="checkbox" style="font-size:23px;"></i> &nbsp;Your turn! Change the &lt;h1&gt; tag in between from "This is a heading" to "Hello World"<br></h4>
                </div>
            </div>
            
            <!--Hints-->
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <div class="container">
                    <br>
                    <!--Hint One-->
                    <h2 class="one" style="font-size:25px;font-weight:600;"><i style="font-size:38px;color:#3A3939;" class="fas fa-sort-down"></i>&nbsp;1) First Hint </h2>
                    <div style="display:none;" class="two">
                        <div style="padding:5px;"></div>
                        <p style="font-size:25px;font-weight:300;">Did you create an a tag?</p>
                        <br>
                    </div>
                    
                    <!--Hint Two-->
                    <h2 class="one1" style="font-size:25px;font-weight:600;"><i style="font-size:38px;color:#3A3939;" class="fas fa-sort-down"></i>&nbsp;2) Second Hint </h2>
                    <div style="display:none;" class="two1">
                        <div style="padding:5px;"></div>
                        <p style="font-size:25px;font-weight:300;">Did you open and close your tags properly?</p>
                        <br>
                    </div>
                    
                    <!--Hint Three-->
                    <h2 class="one3" style="font-size:25px;font-weight:600;"><i style="font-size:38px;color:#3A3939;" class="fas fa-sort-down"></i>&nbsp;3) Third Hint </h2>
                    <div style="display:none;" class="two3">
                        <div style="padding:5px;"></div>
                        <p style="font-size:25px;font-weight:300;">Did you accidentally capitalized "A"?</p>
                        <br>
                    </div>
                    
                    <!--Solution-->
                    <h2 class="one2" style="font-size:25px;font-weight:600;"><i style="font-size:38px;color:#3A3939;" class="fas fa-sort-down"></i>&nbsp;3) Solution </h2>
                    <div style="display:none;" class="two2">
                        <div style="padding:5px;"></div>
                        <p style="font-size:25px;font-weight:300;"><img height="200" width="490" src="https://i.imgur.com/kFn3TL6.png"></p>
                        <div style="padding:5px;"></div>
                        <br><br>
                    </div>
                    
                </div>
            </div>
            
        </div>
  </div>     
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.1/ace.js"></script>
    <script src="jquery-3.3.1.min.js"></script>
   
<script>
    
function update(){
    var idoc = document.getElementById('result').contentWindow.document;
    var idoc2 = document.getElementById('iframe-2').contentWindow.document;
    
    idoc.open();
    idoc.write(eh.getValue());
    idoc.write('<style>'+ec.getValue()+'</style>');
	idoc.close();
	
	idoc2.open();
    idoc2.write(eh.getValue());
    idoc2.write('<style>'+ec.getValue()+'</style>');
    idoc2.close();
}
        
function activaTab(){
    
};

function Run(){
 var eh = ace.edit("htmleditor");
 var ec = ace.edit("csseditor");
 var HTMLCode = eh.getSession().getValue();
 var CSSCode = ec.getSession().getValue();
 var txt1 = document.getElementById("txt1").value;
 var txt2 = document.getElementById("txt2").value;
 $('.nav-tabs a[href="#contact-tab"]').tab('show');


 if (HTMLCode.includes('<h1', 'id=','</h1>' && CSSCode.includes('#', '{', '}', ';'))){
      $( "#checkbox" ).addClass( ".far fa-check-square" ).removeClass( ".far fa-square" );
        swal({
            title: "Good job!",
            text: "Continue to the next lesson!",
            icon: "success",
             closeOnClickOutside: false,
             buttons: {
                confirm: "Next Lesson",
              }
        }).then(function() {
            window.location.href = "/editor/css/comments";
    });
   
   return false;
  } else{
            swal({
          title: "Oh No!",
          text: "Your code seems to be incorrect",
          icon: "error",
          buttons: ["Try Again", "View Solution"],
        })
        .then((willDelete) => {
          if (willDelete) {
            swal("<h1>Hello World</h1>", {
              title: "Solution:",
              icon: "info",
              button: "Try Again" 
            });
          } 
        });
         return false;
    }
}

$(".one").click(function() {
        $(".two").toggle();
    });
    
    $(".one1").click(function() {
        $(".two1").toggle();
    });

$(".one2").click(function() {
        $(".two2").toggle();
    });
    $(".one3").click(function() {
        $(".two3").toggle();
    });

function seteditor(){
    //HTML
    window.eh = ace.edit("htmleditor");
    eh.setTheme("ace/theme/cobalt");
    eh.getSession().setMode("ace/mode/html");
    //CSS
    window.ec = ace.edit("csseditor");
    ec.setTheme("ace/theme/merbivore");
    ec.getSession().setMode("ace/mode/css");
    
    //Set values for html
    eh.setValue(`<!DOCTYPE html>
<html>
    <body>
        
    </body>
</html>`,1); //1 = moves cursor to end
    eh.renderer.setScrollMargin(13, 3);

    //Set values for css
    ec.setValue(``,1); //1 = moves cursor to end
    ec.renderer.setScrollMargin(13, 3);

//HTML Settings
  eh.getSession().on('change', function() {
    update();
  });

  eh.focus();

  eh.setOptions({
    fontSize: "11pt",
    showLineNumbers: true,
    showGutter: true,
    autoScrollEditorIntoView: true,
    enableBasicAutocompletion: false, enableLiveAutocompletion: true
  });

  eh.setShowPrintMargin(false);
  eh.setBehavioursEnabled(false);
   
 //CSS Settings
  ec.getSession().on('change', function() {
    update();
  });

  ec.focus();

  ec.setOptions({
    fontSize: "11pt",
    showLineNumbers: true,
    showGutter: true,
    autoScrollEditorIntoView: true,
    enableBasicAutocompletion: false, enableLiveAutocompletion: true
  });

  ec.setShowPrintMargin(false);
  ec.setBehavioursEnabled(false);
           
}
seteditor();
update();
</script>