<% include ../partials/header %>

<div class="jumbotron" style="background: #F00000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #DC281E, #F00000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #DC281E, #F00000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
height:410px;">
    <br><br><br>
    <h1 style="font-size:70px;color:white;text-align:center;font-weight:100;">Your Level: Advanced</h1>
    <h1 style="font-size:20px;color:white;text-align:center;font-weight:100;">These courses are recommended for anyone who can manipulate code</h1>
    <br><br>
    <div style="text-align:center;">
    <a href="/campgrounds" style="font-size:20px;" class="button3-md">⬅ Back to your dashboard</a>
    <a href="/intermediate" style="font-size:20px;" class="button3-md">Miscellaneous Courses ➡</a>
    </div>
</div>

<div class="container">
  <h1 style="color:black;font-size:59px;font-weight:900;">Advanced <span style="color:#A600FF">Courses</span> 💻 </h1>
        <p style="font-size:20px;">Follow these courses in order and you will be sufficant to create your own project</p>
     <div class="row">
        <br>
       <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="https://i.imgur.com/5jHj73r.jpg" alt="">
              <div class="caption">
                <h4 style="font-size:22px;"><strong>Advanced HTML</strong></h4>
                <br>
               <a href="/html-advanced" class="button-10" role="button"> Start </a>
                &nbsp;
                <a href="/html-advanced" class="button-11" role="button"> Curriculum</a>
                <br><br>
            </div>
          </div>
        </div>
        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="https://i.imgur.com/MlWBrho.jpg" alt="">
              <div class="caption">
                <h4 style="font-size:22px;"><strong>Advanced CSS</strong></h4>
                <br>
               <a href="/css-advanced" class="button-10" role="button"> Start </a>
                &nbsp;
                <a href="/css-advanced" class="button-11" role="button"> Curriculum</a>
                <br><br>
            </div>
          </div>
        </div>
         <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="https://i.imgur.com/Oiig11R.jpg" alt="">
              <div class="caption">
                <h4 style="font-size:22px;"><strong>Advanced JS</strong></h4>
                <br>
               <a href="/html-advanced" class="button-10" role="button"> Start </a>
                &nbsp;
                <a href="/html-advanced" class="button-11" role="button"> Curriculum</a>
                <br><br>
            </div>
          </div>
        </div>
        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="https://i.imgur.com/4H4bFqj.jpg" alt="">
              <div class="caption">
                <h4 style="font-size:22px;"><strong>Using Atom</strong></h4>
                <br>
                <a href="#" class="button-10" role="button"> Start </a>
                &nbsp;
                <a href="#" class="button-11" role="button"> Curriculum</a>
                <br><br>
            </div>
          </div>
        </div>
    </div>

  <h1 style="color:black;font-size:59px;font-weight:900;">Advanced <span style="color:#85D6FF">Projects</span> 🕹 </h1>
        <p style="font-size:20px;">Elevate and get inspired through these explained step by step projects</p>
  <div class="row">
          
         
          <br>
          
          
           <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img  src="https://i.imgur.com/SlqSRzy.jpg" alt="">
              <div class="caption">
                <h4 style="font-size:22px;"><strong>How to create a logo</strong></h4>
                <br>
               <a href="#" class="button-10" role="button"> Start </a>
                &nbsp;
                <a href="#" class="button-11" role="button"> Curriculum</a>
                <br><br>
            </div>
          </div>
        </div>
          
          <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="https://i.imgur.com/FSv5Fax.jpg" alt="">
              <div class="caption">
                <h4 style="font-size:22px;"><strong>HTML Color Types</strong></h4>
                <br>
                <a href="#" class="button-10" role="button"> Start </a>
                &nbsp;
                <a href="#" class="button-11" role="button"> Curriculum</a>
                <br><br>
            </div>
          </div>
        </div>
          
          <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="https://i.imgur.com/sowginu.jpg" alt="">
              <div class="caption">
                <h4 style="font-size:22px;"><strong>Using the Terminal</strong></h4>
                <br>
               <a href="#" class="button-10" role="button"> Start </a>
                &nbsp;
                <a href="#" class="button-11" role="button"> Curriculum</a>
                <br><br>
            </div>
          </div>
        </div>
  
          <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="https://i.imgur.com/j33N7ZJ.jpg" alt="">
              <div class="caption">
                <h4 style="font-size:22px;"><strong>Intro to Github</strong></h4>
                <br>
                <a href="#" class="button-10" role="button"> Start </a>
                &nbsp;
                <a href="#" class="button-11" role="button"> Curriculum</a>
                <br><br>
            </div>
          </div>
        </div>
         <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img  src="https://i.imgur.com/H0SfR4Z.jpg" alt="">
              <div class="caption">
                <h4 style="font-size:22px;"><strong>How to debug</strong></h4>
                <br>
               <a href="#" class="button-10" role="button"> Start </a>
                &nbsp;
                <a href="#" class="button-11" role="button"> Curriculum</a>
                <br><br>
            </div>
          </div>
        </div>
          
         
  
  </div>
</div>

        
<br>
<% include ../partials/footer %>