<% include ../partials/header %>

<div class="jumbotron" style="background: #396afc;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2948ff, #396afc);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2948ff, #396afc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
height:410px;">
    <br><br><br>
    <h1 style="font-size:70px;color:white;text-align:center;font-weight:100;">Your Level: Beginner</h1>
    <h1 style="font-size:20px;color:white;text-align:center;font-weight:100;">These courses are recommended to anyone who has never programmed before</h1>
    <br><br>
    <div style="text-align:center;">
    <a href="/campgrounds" style="font-size:20px;" class="button3-md">⬅ Back to your dashboard</a>
    <a href="/intermediate" style="font-size:20px;" class="button3-md">Intermediate Courses ➡</a>
    </div>
</div>

<div class="container">
  <h1 style="color:black;font-size:59px;font-weight:900;">Beginner <span style="color:#A600FF">Courses</span> 💻 </h1>
        <p style="font-size:20px;">Follow these courses in order and you will be able to advance to intermediate!</p>
     <div class="row">
        <br>
        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="https://i.imgur.com/ri2EVla.jpg" alt="">
              <div class="caption">
                <h4 style="font-size:22px;"><strong>Introduction to HTML</strong></h4>
                <br>
               <a href="/html" class="button-10" role="button"> Start </a>
                &nbsp;
                <a href="/html" class="button-11" role="button"> Curriculum</a>
                <br><br>
            </div>
          </div>
        </div>
        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="https://i.imgur.com/zH4D53H.jpg" alt="">
              <div class="caption">
                <h4 style="font-size:22px;"><strong>Introduction to CSS</strong></h4>
                <br>
               <a href="/css" class="button-10" role="button"> Start </a>
                &nbsp;
                <a href="/css" class="button-11" role="button"> Curriculum</a>
                <br><br>
            </div>
          </div>
        </div>
        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="https://i.imgur.com/jKRywpV.jpg" alt="">
              <div class="caption">
                <h4 style="font-size:22px;"><strong>Introduction to JS</strong></h4>
                <br>
                <a href="/mongoDB" class="button-10" role="button"> Start </a>
                &nbsp;
                <a href="/mongoDB" class="button-11" role="button"> Curriculum</a>
                <br><br>
            </div>
          </div>
        </div>
        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="https://i.imgur.com/8wu4sRP.jpg" alt="">
              <div class="caption">
                <h4 style="font-size:22px;"><strong>Bootstrap 4</strong></h4>
                <br>
                <a href="/nodejs" class="button-10" role="button"> Start </a>
                &nbsp;
                <a href="/nodejs" class="button-11" role="button"> Curriculum</a>
                <br><br>
            </div>
          </div>
        </div>
    </div>

  <h1 style="color:black;font-size:59px;font-weight:900;">Beginner <span style="color:#85D6FF">Projects</span> 🕹 </h1>
        <p style="font-size:20px;">Practice each HTML, CSS, or JS with these through explained step by step projects</p>
  <div class="row">
          
         
          <br>
          
          
          <div class="col-xs-18 col-sm-6 col-md-3">
            <div class="thumbnail">
              <img src="https://i.imgur.com/f6rMmyd.jpg" alt="">
                <div class="caption">
                  <h4 style="font-size:22px;"><strong>Code your portfolio</strong></h4>
                  <br>
                 <a href="/html" class="button-10" role="button"> Start </a>
                  &nbsp;
                  <a href="/html" class="button-11" role="button"> Curriculum</a>
                  <br><br>
              </div>
            </div>
          </div>
          
          <div class="col-xs-18 col-sm-6 col-md-3">
            <div class="thumbnail">
              <img src="https://i.imgur.com/9W06IIe.jpg" alt="">
                <div class="caption">
                  <h4 style="font-size:22px;"><strong>Design a blog</strong></h4>
                  <br>
                 <a href="/css" class="button-10" role="button"> Start </a>
                  &nbsp;
                  <a href="/css" class="button-11" role="button"> Curriculum</a>
                  <br><br>
              </div>
            </div>
          </div>
          
          <div class="col-xs-18 col-sm-6 col-md-3">
            <div class="thumbnail">
              <img src="https://i.imgur.com/OoKZQKz.png" style="width:250px;height:200px;" alt="">
                <div class="caption">
                  <h4 style="font-size:22px;"><strong>Simple Counting game</strong></h4>
                  <br>
                  <a href="/mongoDB" class="button-10" role="button"> Start </a>
                  &nbsp;
                  <a href="/mongoDB" class="button-11" role="button"> Curriculum</a>
                  <br><br>
              </div>
            </div>
          </div>
  
          <div class="col-xs-18 col-sm-6 col-md-3">
            <div class="thumbnail">
              <img src="https://i.imgur.com/y2VX4pf.jpg" alt="">
                <div class="caption">
                  <h4 style="font-size:22px;"><strong>Create a quiz site</strong></h4>
                  <br>
                  <a href="/nodejs" class="button-10" role="button"> Start </a>
                  &nbsp;
                  <a href="/nodejs" class="button-11" role="button"> Curriculum</a>
                  <br><br>
              </div>
            </div>
          </div>
          
         
  
  </div>
  <div class="row">
          
         
          <br>
          
          
          <div class="col-xs-18 col-sm-6 col-md-3">
            <div class="thumbnail">
              <img src="https://i.imgur.com/tddsXSS.jpg" alt="">
                <div class="caption">
                  <h4 style="font-size:22px;"><strong>Launching your site</strong></h4>
                  <br>
                 <a href="/html" class="button-10" role="button"> Start </a>
                  &nbsp;
                  <a href="/html" class="button-11" role="button"> Curriculum</a>
                  <br><br>
              </div>
            </div>
          </div>
          
          <div class="col-xs-18 col-sm-6 col-md-3">
            <div class="thumbnail">
              <img src="https://i.imgur.com/AqMnKYM.jpg" alt="">
                <div class="caption">
                  <h4 style="font-size:22px;"><strong>Domain Names</strong></h4>
                  <br>
                 <a href="/css" class="button-10" role="button"> Start </a>
                  &nbsp;
                  <a href="/css" class="button-11" role="button"> Curriculum</a>
                  <br><br>
              </div>
            </div>
          </div>
          
          <div class="col-xs-18 col-sm-6 col-md-3">
            <div class="thumbnail">
              <img src="https://i.imgur.com/wc0bV15.jpg" style="width:250px;height:200px;" alt="">
                <div class="caption">
                  <h4 style="font-size:22px;"><strong>Cookie Clicker Clone</strong></h4>
                  <br>
                  <a href="/mongoDB" class="button-10" role="button"> Start </a>
                  &nbsp;
                  <a href="/mongoDB" class="button-11" role="button"> Curriculum</a>
                  <br><br>
              </div>
            </div>
          </div>
  
          <div class="col-xs-18 col-sm-6 col-md-3">
            <div class="thumbnail">
              <img src="https://i.imgur.com/FttZW0P.jpg" alt="">
                <div class="caption">
                  <h4 style="font-size:22px;"><strong>Animate.css</strong></h4>
                  <br>
                  <a href="/nodejs" class="button-10" role="button"> Start </a>
                  &nbsp;
                  <a href="/nodejs" class="button-11" role="button"> Curriculum</a>
                  <br><br>
              </div>
            </div>
          </div>
          
         
  
  </div>
</div>

        
<br>
<% include ../partials/footer %>