<% include ../partials/header %>

<div class="jumbotron" style="background: #fe8c00;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

height:410px;">
    <br><br><br>
    <h1 style="font-size:70px;color:white;text-align:center;font-weight:100;">Your Level: Intermediate</h1>
    <h1 style="font-size:20px;color:white;text-align:center;font-weight:100;">These courses are recommended to anyone who has basic knowledge of code</h1>
    <br><br>
    <div style="text-align:center;">
    <a href="/campgrounds" style="font-size:20px;" class="button3-md">⬅ Back to your dashboard</a>
    <a href="/advanced" style="font-size:20px;" class="button3-md">Advanced Courses ➡</a>
    </div>
</div>

<div class="container">
  <h1 style="color:black;font-size:59px;font-weight:900;">Intermediate <span style="color:#A600FF">Courses</span> 💻 </h1>
        <p style="font-size:20px;">Follow these courses in order and you will be able to advance to the advanced courses!</p>
     <div class="row">
        <br>
      <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="https://i.imgur.com/VheeutD.jpg" alt="">
              <div class="caption">
                <h4 style="font-size:22px;"><strong>Intermediate HTML</strong></h4>
                <br>
               <a href="/html-intermediate" class="button-10" role="button"> Start </a>
                &nbsp;
                <a href="/html-intermediate" class="button-11" role="button"> Curriculum</a>
                <br><br>
            </div>
          </div>
        </div>
        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="https://i.imgur.com/a9TPZ3c.jpg" alt="">
              <div class="caption">
                <h4 style="font-size:22px;"><strong>Intermediate CSS</strong></h4>
                <br>
               <a href="/css-intermediate" class="button-10" role="button"> Start </a>
                &nbsp;
                <a href="/css-intermediate" class="button-11" role="button"> Curriculum</a>
                <br><br>
            </div>
          </div>
        </div>
        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="https://i.imgur.com/0lP5YpA.jpg" alt="">
              <div class="caption">
                <h4 style="font-size:22px;"><strong>Intermediate JS</strong></h4>
                <br>
               <a href="/html-intermediate" class="button-10" role="button"> Start </a>
                &nbsp;
                <a href="/html-intermediate" class="button-11" role="button"> Curriculum</a>
                <br><br>
            </div>
          </div>
        </div>
        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="https://i.imgur.com/0ubqCsr.jpg" alt="">
              <div class="caption">
                <h4 style="font-size:22px;"><strong>Using Cloud9 </strong></h4>
                <br>
               <a href="#" class="button-10" role="button"> Start </a>
                &nbsp;
                <a href="#" class="button-11" role="button"> Curriculum</a>
                <br><br>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
        <br>
        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="https://i.imgur.com/FvGxtyn.jpg" alt="">
              <div class="caption">
                <h4 style="font-size:22px;"><strong>Intro to Backend</strong></h4>
                <br>
                <a href="/intro-to-backend" class="button-10" role="button"> Start </a>
                &nbsp;
                <a href="/intro-to-backend" class="button-11" role="button"> Curriculum</a>
                <br><br>
            </div>
          </div>
        </div>
        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="https://i.imgur.com/ie4kJTT.jpg" alt="">
              <div class="caption">
                <h4 style="font-size:22px;"><strong>Introduction to Node.js</strong></h4>
                <br>
                <a href="/nodejs" class="button-10" role="button"> Start </a>
                &nbsp;
                <a href="/nodejs" class="button-11" role="button"> Curriculum</a>
                <br><br>
            </div>
          </div>
        </div>
        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="https://i.imgur.com/AVPPmB1.jpg" alt="">
              <div class="caption">
                <h4 style="font-size:22px;"><strong>MongoDB</strong></h4>
                <br>
                <a href="/mongoDB" class="button-10" role="button"> Start </a>
                &nbsp;
                <a href="/mongoDB" class="button-11" role="button"> Curriculum</a>
                <br><br>
            </div>
          </div>
        </div>
        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="https://i.imgur.com/S7Uk634.jpg" alt="">
              <div class="caption">
                <h4 style="font-size:22px;"><strong>Express.js</strong></h4>
                <br>
               <a href="#" class="button-10" role="button"> Start </a>
                &nbsp;
                <a href="#" class="button-11" role="button"> Curriculum</a>
                <br><br>
            </div>
          </div>
        </div>
  
    </div>

  <h1 style="color:black;font-size:59px;font-weight:900;">Intermediate <span style="color:#85D6FF">Projects</span> 🕹 </h1>
        <p style="font-size:20px;">Further your knowledge on HTML, CSS, or JS and basic backend with these through explained step by step projects</p>
  <div class="row">
          
         
          <br>
          
          
          <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="https://i.imgur.com/E2uxsuQ.jpg" alt="">
              <div class="caption">
                <h4 style="font-size:22px;"><strong>CRUD Project</strong></h4>
                <br>
                <a href="#" class="button-10" role="button"> Start </a>
                &nbsp;
                <a href="#" class="button-11" role="button"> Curriculum</a>
                <br><br>
            </div>
          </div>
        </div>
          
          <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="https://i.imgur.com/xouKstt.jpg" alt="">
              <div class="caption">
                <h4 style="font-size:22px;"><strong>Restful App</strong></h4>
                <br>
               <a href="#" class="button-10" role="button"> Start </a>
                &nbsp;
                <a href="#" class="button-11" role="button"> Curriculum</a>
                <br><br>
            </div>
          </div>
        </div>
          
          <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="https://i.imgur.com/JTUhqE2.jpg" alt="">
              <div class="caption">
                <h4 style="font-size:22px;"><strong>Planning a project</strong></h4>
                <br>
               <a href="#" class="button-10" role="button"> Start </a>
                &nbsp;
                <a href="#" class="button-11" role="button"> Curriculum</a>
                <br><br>
            </div>
          </div>
        </div>
  
          <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img  src="https://i.imgur.com/SlqSRzy.jpg" alt="">
              <div class="caption">
                <h4 style="font-size:22px;"><strong>How to create a logo</strong></h4>
                <br>
               <a href="#" class="button-10" role="button"> Start </a>
                &nbsp;
                <a href="#" class="button-11" role="button"> Curriculum</a>
                <br><br>
            </div>
          </div>
        </div>
          
         
  
  </div>

</div>

        
<br>
<% include ../partials/footer %>