<% include ../partials/header %> 

<style>
  .box:hover{
   transform: scale(1.01); 
   transition: transform 0.6s;
}

.box{
 
   transition: transform 1s;
}
</style>
<div class='jumbotron' style="height:370px;background:url(https://i.imgur.com/XnbDI87.jpg);">
    <br><br>
    <h1 style="font-size:95px;font-weight:500;color:white;text-align:center;">Wancademy Paths</h1>
     <h1 style="font-size:35px;font-weight:100;color:white;text-align:center;">Curated curriculums to help reach your goals</h1>
</div>



<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLongTitle">Front End Developer Path</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        In this path, you will learn the essential languages of the web: HTML, CSS, and Javascript. Next, we will explore the world of dynamic webpages with backend languages, databases, and apply them into making practical websites and releasing them.
      <br> <br>
      <h3>Prerequisites:</h3>
      
      <h5 style="font-weight:400;font-size:17px;">None: This course can be for beginner or students who want to review front end skills.</h5>
    
      <h5></h5>
      <br>
      <h2>Curriculum:</h2>
      <hr>
      <h5 style="font-weight:400;"><i class="fas fa-check-circle"></i> 1) Introduction to Front End</h5>
      <h5 style="font-weight:400;"><i class="fas fa-check-circle"></i> 2) Introduction to HTML</h5>
      <h5 style="font-weight:400;"><i class="fas fa-lock"></i> 3) Html Quiz #1</h5>
      <h5 style="font-weight:400;"><i class="fas fa-check-circle"></i> 4) Introduction to CSS</h5>
      <h5 style="font-weight:400;"><i class="fas fa-check-circle"></i> 5) Design a blog</h5>
      <h5 style="font-weight:400;"><i class="fas fa-check-circle"></i> 6) Introduction to Javascript</h5>
      <h5 style="font-weight:400;"><i class="fas fa-lock"></i> 7) JS Quiz #1</h5>
      <h5 style="font-weight:400;"><i class="fas fa-check-circle"></i> 8) Counting Game </h5>
      <h5 style="font-weight:400;"><i class="fas fa-check-circle"></i> 9) Functional Clock </h5>
      <h5 style="font-weight:400;"><i class="fas fa-check-circle"></i> 10) jQuery </h5>
      <h5 style="font-weight:400;"><i class="fas fa-check-circle"></i> 11) Bootstrap 4 </h5>
      <h5 style="font-weight:400;"><i class="fas fa-check-circle"></i> 12) Intermediate Html</h5>
      <h5 style="font-weight:400;"><i class="fas fa-lock"></i> 13) Website layout</h5>
      <h5 style="font-weight:400;"><i class="fas fa-lock"></i> 14) Html Quiz #2</h5>
      <h5 style="font-weight:400;"><i class="fas fa-check-circle"></i> 15) Intermediate CSS </h5>
      <h5 style="font-weight:400;"><i class="fas fa-lock"></i> 16) Design: Website layout</h5>
      <h5 style="font-weight:400;"><i class="fas fa-lock"></i> 17) CSS Quiz #2 </h5>
      <h5 style="font-weight:400;"><i class="fas fa-check-circle"></i> 18) Intermediate JS </h5>
      <h5 style="font-weight:400;"><i class="fas fa-lock"></i> 19) Js Quiz #2 </h5>
      <h5 style="font-weight:400;"><i class="fas fa-check-circle"></i> 20) Advanced Html </h5>
      <h5 style="font-weight:400;"><i class="fas fa-check-circle"></i> 21) Netflix Clone layout: HTML </h5>
      <h5 style="font-weight:400;"><i class="fas fa-lock"></i> 22) Html Quiz #3 </h5>
      <h5 style="font-weight:400;"><i class="fas fa-lock"></i> 23) Advanced CSS </h5>
      <h5 style="font-weight:400;"><i class="fas fa-lock"></i> 24) Netflix Clone layout: CSS </h5>
      <h5 style="font-weight:400;"><i class="fas fa-lock"></i> 25) CSS Quiz #3</h5>
      <h5 style="font-weight:400;"><i class="fas fa-lock"></i> 26) Advanced JS</h5>
      <h5 style="font-weight:400;"><i class="fas fa-lock"></i> 27) Netflix Clone layout: JS and animations</h5>
      <h5 style="font-weight:400;"><i class="fas fa-lock"></i> 28) Javascript Quiz #3 </h5>
      <hr>
      
      <h6>Lessons with <i class="fas fa-lock"></i> Icon means that it is a <a href="/premium">Premium Lesson</a></h6>

      <h6>Lessons with <i class="fas fa-check-circle"></i> Icon indicates a Free Lesson</h6>
      
      
      <h6>After this course, skills may be applied to the "Backend Developer Path"</h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a href="/paths/front-end" class="btn btn-primary">Start Now</a>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModalLong2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLongTitle">Back End Developer Path</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       This path is can be used after the "Front End Developer" path. In this path, we learn the basics of backend, node.js, and express. Then you will be making a full fledged app with CRUD Functions and be implementing skills learned on the "Front End Developer" path.
      <br> <br>
      <h3>Prerequisites:</h3>
      
      <h5 style="font-weight:400;font-size:17px;">"Front End Developer" Course or HTML, CSS, JS Knowledge, Bootstrap usage, basic jQuery, and experience creating projects</h5>
    
      <h5></h5>
      <br>
      <h2>Curriculum:</h2>
      <hr>
      <h5 style="font-weight:400;"><i class="fas fa-check-circle"></i> 1) Introduction to Backend</h5>
      <h5 style="font-weight:400;"><i class="fas fa-lock"></i> 2) Backend Quiz </h5>
      <h5 style="font-weight:400;"><i class="fas fa-check-circle"></i> 3) Code Editor Setup</h5>
      <h5 style="font-weight:400;"><i class="fas fa-check-circle"></i> 4) Terminal Setup and Command Line Usage </h5>
      <h5 style="font-weight:400;"><i class="fas fa-lock"></i> 5) Terminal Setup and Command Line Usage Quiz </h5>
      <h5 style="font-weight:400;"><i class="fas fa-check-circle"></i> 6) Introduction to Node.js</h5>
      <h5 style="font-weight:400;"><i class="fas fa-lock"></i> 7) Node.js Quiz </h5>
      <h5 style="font-weight:400;"><i class="fas fa-lock"></i> 8) Introduction to Frameworks (Express)</h5>
      <h5 style="font-weight:400;"><i class="fas fa-lock"></i> 9) Introduction to Databases (MongoDB)</h5>
      <h5 style="font-weight:400;"><i class="fas fa-lock"></i> 10) Youtube Clone </h5>
      <h5 style="font-weight:400;"><i class="fas fa-lock"></i> 11) Wrap Up</h5>
      <hr>
      
      <h6>Lessons with <i class="fas fa-lock"></i> Icon indicates a <a href="/premium">Premium Lesson</a></h6>
      
      <h6>Lessons with <i class="fas fa-check-circle"></i> Icon indicates a Free Lesson</h6>

      <h6>Subcategories of each unit can be found on the official course page. Click Start Now to get started</h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a href="/paths/back-end" class="btn btn-primary">Start Now</a>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModalLong3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLongTitle">Design Developer Path</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         In this path, you will be focused more on the design aspect of the web along with learning the essential languages HTML, CSS, and Javascript. You will create projects and learn to release them to which will prepare you for career ready design skills.
      <br> <br>
      
      <h3>Prerequisites:</h3>
      
      <h5 style="font-weight:400;font-size:17px;">None: This course can be for beginner or students who want to review or learn new design skills.</h5>
    <br>
      <h4>Curriculum:</h4>
      <hr>
     <h5 style="font-weight:400;"><i class="fas fa-check-circle"></i> 1) Introduction to Front End</h5>
      <h5 style="font-weight:400;"><i class="fas fa-check-circle"></i> 2) Introduction to HTML</h5>
      <h5 style="font-weight:400;"><i class="fas fa-lock"></i> 3) Html Quiz #1</h5>
      <h5 style="font-weight:400;"><i class="fas fa-check-circle"></i> 4) Introduction to CSS</h5>
      <h5 style="font-weight:400;"><i class="fas fa-check-circle"></i> 5) Design a blog</h5>
      <h5 style="font-weight:400;"><i class="fas fa-check-circle"></i> 6) Introduction to Javascript</h5>
      <h5 style="font-weight:400;"><i class="fas fa-lock"></i> 7) JS Quiz #1</h5>
      <h5 style="font-weight:400;"><i class="fas fa-check-circle"></i> 8) Counting Game </h5>
      <h5 style="font-weight:400;"><i class="fas fa-check-circle"></i> 9) Functional Clock </h5>
      <h5 style="font-weight:400;"><i class="fas fa-check-circle"></i> 10) jQuery </h5>
      <h5 style="font-weight:400;"><i class="fas fa-check-circle"></i> 11) Bootstrap 4 </h5>
      <h5 style="font-weight:400;"><i class="fas fa-check-circle"></i> 12) Intermediate Html</h5>
      <h5 style="font-weight:400;"><i class="fas fa-lock"></i> 13) Website layout</h5>
      <h5 style="font-weight:400;"><i class="fas fa-lock"></i> 14) Html Quiz #2</h5>
      <h5 style="font-weight:400;"><i class="fas fa-check-circle"></i> 15) Intermediate CSS </h5>
      <h5 style="font-weight:400;"><i class="fas fa-lock"></i> 16) Design: Website layout</h5>
      <h5 style="font-weight:400;"><i class="fas fa-lock"></i> 17) CSS Quiz #2 </h5>
      <h5 style="font-weight:400;"><i class="fas fa-check-circle"></i> 18) Intermediate JS </h5>
      <h5 style="font-weight:400;"><i class="fas fa-lock"></i> 19) Js Quiz #2 </h5>
      <h5 style="font-weight:400;"><i class="fas fa-check-circle"></i> 20) Design Project #1 (Company Website) </h5>
      <h5 style="font-weight:400;"><i class="fas fa-lock"></i> 21) Design Project #2 (Email Site) </h5>
      <h5 style="font-weight:400;"><i class="fas fa-lock"></i> 22) Design Project #3 (Document writer site ie google docs) </h5>
      <hr>
      
      <h6>Lessons with <i class="fas fa-lock"></i> Icon means that it is a <a href="/premium">Premium Lesson</a></h6>

<h6>Lessons with <i class="fas fa-check-circle"></i> Icon indicates a Free Lesson</h6>

      <h6>After this course, skills may be applied to the "Backend Developer Path"</h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a href="/paths/design" class="btn btn-primary">Start Now</a>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModalLong4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLongTitle">Game Developer Path</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        On this path, you will be focusing on creating indie games made with javascript, html, and css. This is NOT a full fledged game developer course using languages like C#. This course is suitable for students who want to create static and logical games.
      <br> <br>
      <h4>Curriculum:</h4>
      <hr>
     <h5 style="font-weight:400;"><i class="fas fa-check-circle"></i> 1) Introduction to Front End</h5>
     <h5 style="font-weight:400;"><i class="fas fa-check-circle"></i> 2) Simple Javascript Game</h5>
      <h5 style="font-weight:400;"><i class="fas fa-check-circle"></i> 3) Introduction to HTML</h5>
      <h5 style="font-weight:400;"><i class="fas fa-lock"></i> 4) Html Quiz #1</h5>
      <h5 style="font-weight:400;"><i class="fas fa-check-circle"></i> 5) Code your Portfolio</h5>
      <h5 style="font-weight:400;"><i class="fas fa-check-circle"></i> 6) Introduction to CSS</h5>
      <h5 style="font-weight:400;"><i class="fas fa-check-circle"></i> 7) CSS Quiz #1</h5>
      <h5 style="font-weight:400;"><i class="fas fa-check-circle"></i> 8) Design a blog</h5>
      <h5 style="font-weight:400;"><i class="fas fa-check-circle"></i> 9) Introduction to Javascript</h5>
      <h5 style="font-weight:400;"><i class="fas fa-lock"></i> 10) JS Quiz #1</h5>
      <h5 style="font-weight:400;"><i class="fas fa-check-circle"></i> 11) Counting Game </h5>
      <h5 style="font-weight:400;"><i class="fas fa-check-circle"></i> 12) Functional Clock </h5>
      <h5 style="font-weight:400;"><i class="fas fa-check-circle"></i> 13) jQuery </h5>
      <h5 style="font-weight:400;"><i class="fas fa-check-circle"></i> 14) Bootstrap 4 </h5>
      <h5 style="font-weight:400;"><i class="fas fa-check-circle"></i> 15) Intermediate Html</h5>
      <h5 style="font-weight:400;"><i class="fas fa-lock"></i> 16) Website layout</h5>
      <h5 style="font-weight:400;"><i class="fas fa-lock"></i> 17) Html Quiz #2</h5>
      <h5 style="font-weight:400;"><i class="fas fa-check-circle"></i> 18) Intermediate CSS </h5>
      <h5 style="font-weight:400;"><i class="fas fa-lock"></i> 19) Design: Website layout</h5>
      <h5 style="font-weight:400;"><i class="fas fa-lock"></i> 20) CSS Quiz #2 </h5>
      <h5 style="font-weight:400;"><i class="fas fa-check-circle"></i> 21) Intermediate JS </h5>
      <h5 style="font-weight:400;"><i class="fas fa-lock"></i> 22) Js Quiz #2 </h5>
      <h5 style="font-weight:400;"><i class="fas fa-check-circle"></i> 23) Game Project #1 (Cookie Clicker Clone) </h5>
      <h5 style="font-weight:400;"><i class="fas fa-lock"></i> 24) Game Project #2 (ATC Game) </h5>
      <h5 style="font-weight:400;"><i class="fas fa-lock"></i> 25) Game Project #3 (Quiz game) </h5>
      <hr>
      
      <h6>Lessons with <i class="fas fa-lock"></i> Icon means that it is a <a href="/premium">Premium Lesson</a></h6>
      
<h6>Lessons with <i class="fas fa-check-circle"></i> Icon indicates a Free Lesson</h6>

      <h6>After this course, skills may be applied to the "Backend Developer Path"</h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a href="/paths/game" class="btn btn-primary">Start Now</a>
      </div>
    </div>
  </div>
</div>


<div class="container">
  
    <div class="card-deck">
      
      <div class="box card">
        <img class="box card-img-top" src="https://i.imgur.com/POBNPzU.png" alt="Card image cap">
        <div class="card-body">
         
          <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
             <i class="far fa-bookmark"></i> Curriculum 
            </button>
          <a href="/paths/front-end" style="color:white;" class="btn btn-success"><i class="fas fa-play-circle"></i> Start</a>
        </div>
      </div>
    
    
      <div class="card">
        <img class="box card-img-top" src="https://i.imgur.com/3WYmbpL.png" alt="Card image cap">
        <div class="card-body">


           <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong2">
              <i class="far fa-bookmark"></i> Curriculum 
            </button>
          <a href="/paths/back-end" style="color:white;" class="btn btn-success"><i class="fas fa-play-circle"></i> Start </a>
        </div>
      </div>
      
      <div class="card">
        <img class="box card-img-top" src="https://i.imgur.com/Yhda9MR.png" alt="Card image cap">
        <div class="card-body">


           <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong3">
              <i class="far fa-bookmark"></i> Curriculum
            </button>
          <a href="/paths/design" style="color:white;" class="btn btn-success"><i class="fas fa-play-circle"></i> Start</a>
        </div>
      </div>
      
      <div class="box card">
        <img class="box card-img-top" src="https://i.imgur.com/rGjX3fb.png" alt="Card image cap">
        <div class="box card-body">


           <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong4">
              <i class="far fa-bookmark"></i> Curriculum
            </button>
          <a href="/paths/game" style="color:white;" class="btn btn-success"><i class="fas fa-play-circle"></i> Start</a>
        </div>
      </div>
      
</div>
</div>
<br><br><br>
<% include ../partials/footer %> 