<% include ../partials/header %>

<div class="jumbotron" style="text-align:center;height:350px;background: #0cebeb;  /* fallback for old browsers */background: -webkit-linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);  /* Chrome 10-25, Safari 5.1-6 */background: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */">
    <br><div style="padding:9px;"></div>
    <h1 style="text-align:center;color:white;font-size:80px;font-weight:700;">Project Spotlight 🔦</h1>
    <div style="padding:11px;"></div>
    <a href="/projects/new" class="btn btn-info btn-lg" style="color:white;"><i class="far fa-edit"></i> Create a Project </a>
</div>

