<% include ../../partials/header %> <!-- HEADER PARTIALS -->
<style>
    .jumbotron{
        background: #4155FF;  /* fallback for old browsers */
        height:275px;
    }
    a:hover{
        color:#4155FF;
        transition:0.2s;
    }
    .list-group-item.active {
      z-index: 2;
      color: #fff;
      background-color: #4155FF;
      border-color: #4155FF;
    }
    h1 {
        font-size:45px;
    }
</style>
<div class="jumbotron">
    <br>
    <div style="padding:7px;"></div>
        
        <h1 style="text-align:center;color:white;font-size:90px;font-weight:600;">Code your Portfolio</h1>
        <br>
        
</div>


<div class="container">
    
    <div class="row">
        <!--Vertical Buttons-->
        <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#intro" role="tab" aria-controls="home">1) Introduction to the Project</a>
                <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" href="#headings" role="tab" aria-controls="home">2) Headings</a>
                <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#paragraphs" role="tab" aria-controls="profile">3) Paragraphs</a>
                <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#images" role="tab" aria-controls="messages">4) Images</a>
                <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#lists" role="tab" aria-controls="settings">5) Lists</a>
                <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#footer" role="tab" aria-controls="settings">6) Footer</a>
                <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#wrap" role="tab" aria-controls="settings">7) Wrap Up</a>
            </div>
        </div>
        <!--Info about lesson-->
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
                
                <!--Intro-->
                <div class="tab-pane fade show active" id="intro" role="tabpanel" aria-labelledby="list-home-list">
                    <h1>Introduction to The Project</h1>
                    <hr>
                    <h5 style="color:#2A2A2A;font-weight:300;font-size:25px;line-height: 1.5;">Welcome to this project! You will learn to create your own portfolio either for your resume, your works, or anything in between using your HTML skills. We will go over the plan to tackle this project, the final result, and how long this should take.</h5>
                    <br>
                    <img src="https://i.imgur.com/69qGQRw.jpg" width="450" height="260">
                    <br><br><br>
                    <a href="/editor/code-your-portfolio/introduction" class="btn btn-primary" style="color:white;"><i class="fas fa-play-circle"></i> Start Lesson</a>
                </div>
                <!--Headings-->
                <div class="tab-pane fade " id="headings" role="tabpanel" aria-labelledby="list-home-list">
                    <h1>Headings</h1>
                    <hr>
                    <h5 style="color:#2A2A2A;font-weight:300;font-size:25px;line-height: 1.5;">In this lesson, you will be creating the headings of your portfolio.</h5>
                    <br>
                    <img src="https://i.imgur.com/AVDfBtb.png" width="310" height="300">
                    <br><br>
                    <a href="/editor/code-your-portfolio/headings" class="btn btn-primary" style="color:white;"><i class="fas fa-play-circle"></i> Start Lesson</a>
                </div>
                <!--Paragraphs-->
                <div class="tab-pane fade" id="paragraphs" role="tabpanel" aria-labelledby="list-profile-list">
                    <h1>Paragraphs</h1>
                    <hr>
                    <h5 style="color:#2A2A2A;font-weight:300;font-size:25px;line-height: 1.5;">In this lesson, you will be creating a short paragraph telling who you are, what you do, what you hope for, and your dreams.</h5>
                    <br>
                    <img src="https://i.imgur.com/PhS6gUa.png" width="400" height="220">
                    <br><br>
                    <a href="/editor/code-your-portfolio/paragraphs" class="btn btn-primary" style="color:white;"><i class="fas fa-play-circle"></i> Start Lesson</a>
                </div>
                <!--Images-->
                <div class="tab-pane fade" id="images" role="tabpanel" aria-labelledby="list-messages-list">
                    <h1>Images</h1>
                        <hr>
                        <h5 style="color:#2A2A2A;font-weight:300;font-size:25px;line-height: 1.5;">In this lesson, you will be adding some images that represent your works along with a short caption.</h5>
                        <br>
                        <img src="https://i.imgur.com/OQhqTaJ.png" width="440" height="220">
                        <br><br>
                        <a href="/editor/code-your-portfolio/images" class="btn btn-primary" style="color:white;"><i class="fas fa-play-circle"></i> Start Lesson</a>
                </div>
                <!--Lists-->
                <div class="tab-pane fade" id="lists" role="tabpanel" aria-labelledby="list-settings-list">
                    <h1>Lists</h1>
                    <hr>
                    <h5 style="color:#2A2A2A;font-weight:300;font-size:25px;line-height: 1.5;">In this lesson, you will be creating a list that shows your acheivements, or any other information you desire. </h5>
                    <br>
                    <img src="https://i.imgur.com/EHrMeT4.png" width="658" height="300">
                    <br><br>
                    <a href="/editor/code-your-portfolio/lists" class="btn btn-primary" style="color:white;"><i class="fas fa-play-circle"></i> Start Lesson</a>
                </div>
                <!--Footer-->
                <div class="tab-pane fade" id="footer" role="tabpanel" aria-labelledby="list-messages-list">
                    <h1>Footer</h1>
                        <hr>
                        <h5 style="color:#2A2A2A;font-weight:300;font-size:25px;line-height: 1.5;">In this lesson, you will create a footer with your social media, email address, a way to contact you, and anything else you desire.</h5>
                        <br>
                        <img src="https://i.imgur.com/2XOJFBy.png" width="520" height="200">
                        <br><br>
                        <a href="/editor/code-your-portfolio/footer" class="btn btn-primary" style="color:white;"><i class="fas fa-play-circle"></i> Start Lesson</a>
                </div>
                
                <!--Wrap up-->
                <div class="tab-pane fade" id="wrap" role="tabpanel" aria-labelledby="list-profile-list">
                    <h1>Wrap Up</h1>
                    <hr>
                    <h5 style="color:#2A2A2A;font-weight:300;font-size:25px;line-height: 1.5;">Congrats! You have finished this project! Creating projects are great to furthur your knowledge. Make sure to share your completed Here are what we recommend for you to do next:</h5>
                    <br>
                    <img src="https://i.imgur.com/oeFh70T.png" width="470" height="250">
                    <br><br>
                    <a class="btn btn-primary" style="color:white;">Learn Javascript</a>
                    <a class="btn btn-primary" style="color:white;">Design a Blog</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <hr>
    
    <a class="btn btn-primary btn-lg" style="color:white;"><i class="fas fa-backward"></i> Back to Dashboard</a>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSd0ghPgun7IQdOhLUTfFKWujaWhi4GtR0GzF69ONuLEXPYdFQ/viewform?usp=sf_link" target="_blank" class="btn btn-info btn-lg" style="color:white;"><i class="fas fa-comments"></i> Feedback</a>

</div>




<br><br><br>
<% include ../../partials/footer %>