<% include ../partials/header %>
<style>
    .jumbotron{
        background:url(https://media1.giphy.com/media/BHNfhgU63qrks/source.gif);
        height:270px;
    }
    a:hover{
        color:#009BFF;
        transition:0.2s;
    }
</style>

<div class="jumbotron" >
    <br><br><br>
    <h1 style="text-align:center;color:white;font-size:70px;font-weight:900;">CRUD Project</h1>
</div>
<div class="container">


    
</div>


<br><br><br><br><br><br><br>
<% include ../partials/footer %>