<% include ../partials/header %>
<style>
    .jumbotron{
        background:url(http://findnerd.s3.amazonaws.com/imagedata/7941/7941.jpg);
        height:270px;
    }
    a:hover{
        color:#009BFF;
        transition:0.2s;
    }
</style>

<div class="jumbotron" >
    <br><br><br>
    <h1 style="text-align:center;color:white;font-size:70px;font-weight:900;">Introduction to Node.js</h1>
</div>
<div class="container">


    
</div>


<br><br><br><br><br><br><br>
<% include ../partials/footer %>