<% include ../partials/header %>
<style>
    .jumbotron{
        background: #AAFFA9;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #11FFBD, #AAFFA9);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #11FFBD, #AAFFA9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
        height:270px;
    }
    a:hover{
        color:#009BFF;
        transition:0.2s;
    }
</style>

<div class="jumbotron" >
    <br><br><br>
    <h1 style="text-align:center;color:white;font-size:70px;font-weight:900;">MongoDB database</h1>
</div>
<div class="container">


    
</div>


<br><br><br><br><br><br><br>
<% include ../partials/footer %>