<% include ../../partials/header %> <!-- HEADER PARTIALS -->
<style>
    .jumbotron{
        background: #4158FF;  /* fallback for old browsers */
        height:275px;
    }
    a:hover{
        color:#4158FF;
        transition:0.2s;
    }

    .list-group-item.active {
      z-index: 2;
      color: #fff;
      background-color: #4158FF;
      border-color: #4158FF;
    }


    h1 {
        font-size:45px;
    }
</style>
<div class="jumbotron">
    <br>
    <div style="padding:12px;"></div>
        
        <h1 style="text-align:center;color:white;font-size:80px;font-weight:600;">Functional Calculator</h1>
        <br>
        
</div>


<div class="container">
    
    <div class="row">
        <!--Vertical Buttons-->
        <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#intro" role="tab" aria-controls="home">1) Introduction to The Project</a>
                <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" href="#html1" role="tab" aria-controls="home">2) HTML Layout #1</a>
                <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#html2" role="tab" aria-controls="profile">3) HTML Layout #2</a>
                <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#css1" role="tab" aria-controls="settings">4) Adding CSS #1</a>
                <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#css2" role="tab" aria-controls="settings">5) Adding CSS #2</a>
                <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#js1" role="tab" aria-controls="messages">6) Adding Javascript #1</a>
                <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#js2" role="tab" aria-controls="messages">7) Adding Javascript #2</a>
                <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#test" role="tab" aria-controls="messages">8) Testing</a>
                <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#wrap" role="tab" aria-controls="settings">9) Wrap Up</a>
            </div>
        </div>
        <!--Info about lesson-->
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
                
                <!--Intro-->
                <div class="tab-pane fade show active" id="intro" role="tabpanel" aria-labelledby="list-home-list">
                    <h1>Introduction to The Project</h1>
                    <hr>
                    <h5 style="color:#2A2A2A;font-weight:300;font-size:25px;line-height: 1.5;">In this first lesson, you will be introduced to HTML, its uses, and some examples of websites created using HTML.</h5>
                    <br>
                    <img src="https://i.imgur.com/e47rAgQ.jpg" width="450" height="260">
                    <br><br><br>
                    <a href="/editor/html/introduction" class="btn btn-primary" style="color:white;"><i class="fas fa-play-circle"></i> Start Lesson</a>
                </div>
                <!--HTML Layout #1-->
                <div class="tab-pane fade " id="html1" role="tabpanel" aria-labelledby="list-home-list">
                    <h1>HTML Layout #1</h1>
                    <hr>
                    <h5 style="color:#2A2A2A;font-weight:300;font-size:25px;line-height: 1.5;">In this lesson, you will be introduced to tags and you learn how to declare an HTML document and you'll apply to some simple examples!</h5>
                    <br>
                    <img src="https://i.imgur.com/b3kyHDn.png" width="510" height="300">
                    <br><br>
                    <a href="/editor/html/documentandtags" class="btn btn-primary" style="color:white;"><i class="fas fa-play-circle"></i> Start Lesson</a>
                </div>
                <!--HTML Layout #2-->
                <div class="tab-pane fade" id="html2" role="tabpanel" aria-labelledby="list-profile-list">
                    <h1>HTML Layout #2</h1>
                    <hr>
                    <h5 style="color:#2A2A2A;font-weight:300;font-size:25px;line-height: 1.5;">In this lesson, you will be introduced to different types of headings <br>(h1-h6) and the paragraph tag (p), using the tags formula used in the previous lesson. </h5>
                    <br>
                    <img src="https://i.imgur.com/M2m5iu3.png" width="350" height="320">
                    
                    <br><br>
                    <a href="/editor/html/hp" class="btn btn-primary" style="color:white;"><i class="fas fa-play-circle"></i> Start Lesson</a>
                </div>
        
                <!--Adding CSS #1-->
                <div class="tab-pane fade" id="css1" role="tabpanel" aria-labelledby="list-settings-list">
                    <h1>Adding CSS #1</h1>
                    <hr>
                    <h5 style="color:#2A2A2A;font-weight:300;font-size:25px;line-height: 1.5;">In this lesson, you will learn how to create an image from online and locally. You will also use the "alt" attribute, width, height, and integrate image and links. </h5>
                    <br>
                    <img src="https://i.imgur.com/3UZdxuF.png" width="598" height="210">
                    <br><br>
                    <a href="/editor/html/images" class="btn btn-primary" style="color:white;"><i class="fas fa-play-circle"></i> Start Lesson</a>
                </div>
                <!--Adding CSS #2-->
                <div class="tab-pane fade" id="css2" role="tabpanel" aria-labelledby="list-messages-list">
                    <h1>Adding CSS #2</h1>
                        <hr>
                        <h5 style="color:#2A2A2A;font-weight:300;font-size:25px;line-height: 1.5;">In this lesson, you will create buttons, use them as links, and learn to style them!</h5>
                        <br>
                        <img src="https://i.imgur.com/Djrgg8z.png" width="430" height="330">
                        <br><br>
                        <a href="/editor/html/buttons" class="btn btn-primary" style="color:white;"><i class="fas fa-play-circle"></i> Start Lesson</a>
                </div>
               
                <!--Adding JS #1-->
                <div class="tab-pane fade" id="js1" role="tabpanel" aria-labelledby="list-profile-list">
                    <h1>Adding Javascript #1</h1>
                    <hr>
                    <h5 style="color:#2A2A2A;font-weight:300;font-size:25px;line-height: 1.5;">Attributes are used frequently in HTML, and in this lesson, we will take a look at the most common attributes. </h5>
                    <br>
                    <!--CURRENTLY WORKING ON THIS. NEED TO GET IMAGE-->
                    <img src="https://i.imgur.com/cOcV7ry.png" width="560" height="200">
                    <br><br>
                    <a href="/editor/html/attributes" class="btn btn-primary" style="color:white;"><i class="fas fa-play-circle"></i> Start Lesson</a>
                </div>
                <!---Adding JS #2-->
                <div class="tab-pane fade" id="js2" role="tabpanel" aria-labelledby="list-messages-list">
                    <h1>Adding Javascript #2</h1>
                        <hr>
                        <h5 style="color:#2A2A2A;font-weight:300;font-size:25px;line-height: 1.5;">In this lesson, you will learn the style attribute, background color, text color, fonts, text-size, and alignments.</h5>
                        <br>
                        <img src="https://i.imgur.com/Jgd3bRG.png" width="550" height="430">
                        <br><br>
                        <a href="/editor/html/stylings" href="/html" class="btn btn-primary" style="color:white;"><i class="fas fa-play-circle"></i> Start Lesson</a>
                </div>
                
                <!--Testing and Deploy-->
                <div class="tab-pane fade" id="test" role="tabpanel" aria-labelledby="list-profile-list">
                    <h1>Testing and Deploy</h1>
                    <hr>
                    <h5 style="color:#2A2A2A;font-weight:300;font-size:25px;line-height: 1.5;">In this lesson, you will learn how to create and use tables in practical applications.</h5>
                    <br>
                    <img src="https://i.imgur.com/3CZfr1K.png" width="500" height="330">
                    <br><br>
                    <a href="/editor/html/tables" class="btn btn-primary" style="color:white;"><i class="fas fa-play-circle"></i> Start Lesson</a>
                </div>
                <!--Wrap up-->
                <div class="tab-pane fade" id="wrap" role="tabpanel" aria-labelledby="list-profile-list">
                    <h1>Wrap Up</h1>
                    <hr>
                    <h5 style="color:#2A2A2A;font-weight:300;font-size:25px;line-height: 1.5;">Congrats! You have finished the HTML course! There is so much more to learn, which is best learnt through personal projects and experience. Here are what we recommend for you to do next:</h5>
                    <br>
                    <img src="https://i.imgur.com/oeFh70T.png" width="470" height="250">
                    <br><br>
                    <a class="btn btn-primary" style="color:white;">Learn CSS</a>
                    <a class="btn btn-primary" style="color:white;">Code Your Portfolio</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <hr>
    
    <a class="btn btn-primary btn-lg" style="color:white;"><i class="fas fa-backward"></i> Back to Dashboard</a>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSd0ghPgun7IQdOhLUTfFKWujaWhi4GtR0GzF69ONuLEXPYdFQ/viewform?usp=sf_link" target="_blank" class="btn btn-info btn-lg" style="color:white;"><i class="fas fa-comments"></i> Feedback</a>

</div>




<br><br><br>
<% include ../../partials/footer %>